docker-compose.yml
phpinfo.php

/laravel/public/column/*
!/laravel/public/column/wp-config.php
/laravel/public/column/wp-content/*
!/laravel/public/column/wp-content/
/laravel/public/column/wp-content/themes/*
!/laravel/public/column/wp-content/themes/
#/laravel/public/column/wp-content/themes/engineer-route/*
!/laravel/public/column/wp-content/themes/engineer-route/

/.vscode
/.settings

## Googel News RSS ##
laravel/public/rss/*

## Mac ##
.DS_Store

!.gitkeep

Hiomestead.yaml
Homestead.json
#*.sh

#eclipse
.settings
.project
.buildpath

#WordPress
#/public/column/wp-content/upgrade/*
#/public/column/wp-content/uploads/*
#/public/column/wp-content/plugins/*
#/public/column/wp-content/languages/plugins/*

#admin
#/public/front/images/slide/*
