Hiomestead.yaml
Homestead.json
.env
.DS_Store
*.sh

#eclipse
.settings
.project
.buildpath

#WordPress
/public/column/wp-content/upgrade/*
/public/column/wp-content/uploads/*
/public/column/wp-content/plugins/*
/public/column/wp-content/languages/plugins/*

#admin
/public/front/images/slide/*
