@charset "UTF-8";

/*-------------------------------
# common reset
-------------------------------*/
html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,samp,
small,strong,sub,sup,var,
b,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    background:transparent;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}

html{
	font-size: 62.5%; /* 10px */
}

body{
	line-height:1;
	color: #333;
    font-family: "ＭＳ Ｐゴシック", Avenir , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "MS PGothic" , sans-serif;
    -webkit-text-size-adjust: 100%; /* ブラウザの自動調整を行わない */
}

input{padding:0;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{display:block;}
li{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:''; content:none;}
a{margin:0; padding:0; background:transparent; font-size:100%; vertical-align:baseline;}

table{
    border-collapse:collapse;
    border-spacing:0;
}

input, select{
    vertical-align:middle;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

a{
    color: #333;
    text-decoration: none;
}

a:hover{
	transition: 0.25s;
}

img {
    width: 100%;
}

p{
    font-size: 1.4rem;
    line-height: normal;
}
ul li{
    font-size: 1.4rem;
}
label{ font-size: 1.4rem; }
textarea{ font-size: 1.4rem; }
/*-------------------------------
## common
-------------------------------*/
.wrap{
    width:100%;
    max-width: 1000px;
    margin:0 auto;
}

.content{ margin-top: 5%; }
.content h1{ font-size: 2.5rem; }
.content h2{ font-size: 2rem; }
.content h3{ font-size: 1.5rem; }
.content h4{ font-size: 1.2rem; }
.content h1.pageTitle{
}
.content p.pageDetail{
    font-size: 1.6rem;
    color: #5e8796;
    padding-top: 20px;
}

.content-left{
    width: 75%;
    float: left;
    margin-bottom: 5%;
}

.content-right{
    width: 25%;
    float: left;
}

.wsnw { white-space:nowrap; }

/* 基本のセレクトボックス */
.selectBox{
    position: relative;
    display: inline-block;
    border: solid 1px #5e8796;
}

.selectBox:after{
    content: "\25BC";
    position: absolute;
    color: #5e8796;
    top: 50%;
    right: 0px;
    margin-right: 5px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
}

.selectBox select, option {
    line-height: 2.2rem;
    padding: 0px;
    margin: 0;
    text-indent: 0.6em;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

/* alert関連 */
.alert{
    width: 100%;
    margin: 2% 0;
    padding: 2% 3%;
}

.alert ul li{
    list-style: inside;
    font-size: 1.4rem;
    line-height: 2rem;
}

.alert-danger{
    border: 1px solid #e9b2bd;
    color: #bf1939;
    background: #f7e5e9;
    border-radius: 1rem;;
}

p.pageInfo{
    color: #5e8796;
    padding: 2% 0 3%;
}

.color-01{ color: #5e8796; }
.color-red{ color: #ff0000; }

.fs0{ font-size: 0; }

.bg{ background: url(../images/absurdidad.png)repeat; }

.alignleft{
	float: left;
	display: inline-block;
}

.alignright{
	float: right;
	display: inline-block;
}

.alignCenter {
    text-align: -webkit-center;
    text-align: -moz-center;
}

.tAlignRight{
    text-align: right;
}

.clear{ clear: both; }

.table{ width: 100%; display: table; }
.table-row{ display: table-row; }
.table-cell{ display: table-cell; }

.partitionLine_01{
    border: 0;
    border-top: 1px dashed #333;
}
.partitionLine_02 {
    border: 2px solid #5e8796;
    margin-top: 8px;
}

.partitionLine_03{
    border: 0;
    border-top: 1px dashed #333;
}

/* 利用規約、個人情報の取扱い */
.textArea{
    width: 95%;
    text-align: left;
    overflow: auto;
    border: 1px solid #5e8796;
    margin: 2rem auto;
    height: 30rem;
}

.textAreaInr{
    padding: 1.5rem;
}

.textAreaInr .title:not(:first-child){
    padding-top: 1.5rem;
}

.textAreaInfo{
    width: 95%;
    margin: 0 auto;
    padding-top: 3rem;
}

.commonCenterBtn{
    margin: 0 auto;
    text-align: center;
    padding-top: 3%
}

.commonCenterBtn button {
	width: 30%;
	border-radius: 32px;
	background: #5e8796;
	color: #fff;
	border-style: none;
    margin: 0 1%;
    padding: 1%;
    font-size: 1.4rem;
}

.errorMessage{
    color: #ff0000;
}

.pre-wrap{
    font-size: 1.4rem;
    white-space: pre-wrap;
}

.paginate {
    width: 70%;
    margin: 0 auto;
}

.page{
    width: 100%;
    padding-top: 10%;
    text-align: center;
}

.page li{
    display: inline-block;
    margin: 0.3rem;
}

.page li a{
    color: #90adb7;
    border: 1px solid #5e8796;
    padding: 0.6rem 1.3rem;
    font-size: 1.5rem;
    vertical-align: -webkit-baseline-middle;
}

.page li span{
    color: #90adb7;
    border: 1px solid #5e8796;
    padding: 0.6rem 1.3rem;
    font-size: 1.5rem;
    vertical-align: -webkit-baseline-middle;
}

.page .active span{
    color: #fff;
    background-color: #5e8796;
    pointer-events: none;
}

.page .disabled{
    pointer-events: none;
}

h1.SearchTitle{
    font-size: 20px;
	margin-bottom: 24px;
}

h1.SearchTitle:before{
	content: " ";
	background: url(../images/h1search.png)no-repeat;
	width: 20px;
	height: 20px;
	background-size: 16px 16px;
	background-position: 0 4px;
	display: inline-block;
}

/*-------------------------------
## 新規会員登録
-------------------------------*/
.user_input_Inr{
}

.input_field{
    width: 95%;
    margin: 0 auto;
    padding: 1.4rem 0 1.4rem 1.4rem;
    display: inline-flex;
    align-items: center;
}

.input_f_name{
    display: inline-flex;
    width: 25%;
}

.input_f_value{
    display: inline-flex;
    flex-wrap: wrap;
    width: 75%;
}

.input_f_value label{
    display: inline-flex;
    align-items: center;
    width: 50%;
}

.input_f_value label:nth-child(n+3) {
    margin-top: 1.4rem;
}

.input_f_value label input{
    display: inline-flex;
    width: 70%;
    font-size: 1.4rem;
    border: 1px solid #5e8796;
    border-radius: 5px;
    padding: 0.6rem;
    margin-left: 12px;
}

.input_gender label{
    width: 25%;
}

.input_gender label input{
    width: auto;
    margin-left: 0;
    margin-right: 6px;
}

.input_birth label{
    width: auto;
    margin-right: 12px;
}

.input_birth label:nth-child(n+3){
    margin: 0;
}

.input_f_value input{
    display: inline-flex;
    width: 70%;
    font-size: 1.4rem;
    border: 1px solid #5e8796;
    border-radius: 5px;
    padding: 0.6rem;;
}

.input_contract label{
    width: 15%;
}

.input_contract label input{
    width: auto;
    margin-left: 0;
    margin-right: 6px;
}

.input_contract label:nth-child(n+3){
    margin: 0;
}

.input_email label{
    width: 100%;
}

.input_email label input{
    width: 70%;
    margin-left: 0;
}

.input_email label:nth-child(2){
    margin-top: 1.4rem;
}

#slctBx_prefecture{width: 12rem;}
#slctBx_birth_y{width: 6rem;}
#slctBx_birth_m,
#slctBx_birth_d{width: 4rem;}

/* 登録完了 */
#user_complete .regist_thanks {
    margin-top: 5%;
}

#user_complete .regist_thanks p{
    line-height: 4rem;
}

#user_complete .regist_thanks p.user_id{
    display: inline-block;
    font-size: 1.8rem;
    color: #E38585;
    background: #eef3f4;
    font-weight: bold;
    padding: 1rem 3rem;
    line-height: normal;
}

#user_complete .support{
    margin-top: 10%;
}

#user_complete .support .about_support{
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 4rem;
}

/*-------------------------------
## ログイン
-------------------------------*/
#login .loginInr{
    width: 60%;
    margin: 0 auto;
    padding: 3% 0;
}

#login .login_input{
    margin: 0 auto;
    width: 100%;
}

#login .login_input p{
    display: inline-block;
    width: 25%;
    vertical-align: middle;
}
#login .login_input input{
    display: inline-block;
    width: 75%;
    font-size: 1.4rem;
    border: 1.5px solid #5e8796;
    border-radius: 5px;
    padding: 1%;
    margin: 0.8rem 0;
    line-height: 2rem;
}

#login .infoText{
    text-align: right;
}

#login a{
    color: #5e8796;
}

#login .contentInr p{
    padding-bottom: 2.4rem;
}

/*-------------------------------
## 企業の皆様へ
-------------------------------*/
.company{
    width: 95%;
    margin: 0 auto;
}

#company .pageDetail{
    text-align: center;
    padding: 2% 0 3%;
    font-size: 1.6rem;
    font-weight: bold;
}

#company .pageDetail p{
    line-height: 2.4rem;
}

#company p.pageInfo{
    color: #5e8796;
    padding: 2% 0 3%;
}

#company .selectBox{font-size: 1.4rem;border-radius: 5px;}
#company .selectBox select{width: 26rem;font-size: 1.4rem;line-height: 3rem;color:#5e8796;}
.input_address input:first-child{width: 35%;}
.input_address input:nth-child(2){margin-top: 1.4rem;}
#company_confirm .input_address{display: block;}

/*-------------------------------
## 該当案件一覧
-------------------------------*/
#item .titleArea{
    width: 100%;
    display: table;
}

#item .titleArea h1{
    display: table-cell;
}

#item .titleArea .itemCount{
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
    font-size: 1.4rem;
    font-weight: normal;
}

#item .titleArea .itemCount .num{
    font-size: 2rem;
    color: #5e8796;
}

#item .conditions{
    background: none;
}

#item .conditions .search{
    background: #eef3f4;
    padding: 2% 3%;
}

#item .conditions .sort{
    padding-top: 2rem;
    text-align: right;
}

#item .conditions label{
    font-size: 1.1rem;
}

#item .conditions .selectBox{
    position: relative;
    display: inline-block;
    border: solid 1px #5e8796;
}

#item .conditions #order{
    width: 14rem;
}
#item .conditions #limit{
    width: 4rem;
}

#item .conditions .selectBox:after{
    content: "\25BC";
    position: absolute;
    color: #5e8796;
    top: 50%;
    right: 0px;
    margin-right: 5px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
}

#item .conditions select,
#item .conditions option {
    line-height: 2.2rem;
    padding: 0px;
    margin: 0;
    text-indent: 0.6em;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

/* 条件から検索 */

#item .tab{
    /*display: none;*/
}

#item .tabMenu{
    width: 100%;
    float: none;
    text-align: left;
}

#item .tabMenu ul{
    width: 100%;
    display: flex;
}

#item .tabMenu ul li{
    font-size: 1.3rem;
    width: 15%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    margin: 0;
    border: none;
}

#item .tabBox {
    width: 100%;
    margin: 0 auto;
    float: none;
}

#item .tabSelected{
    width: 100%;
    float: none;
    padding: 0;
}

#item .tabSelected .title{
    font-size: 1.7rem;
    color: #5e8796;
    font-weight: bold;
    line-height: 4rem;
    padding-bottom: 1%;
}

#item .tabSelected .title span{
    font-size: 1.5rem;
    color: #fff;
    background: #5e8796;
    line-height: 3rem;
    float: right;
    padding: 3px 2rem;
    font-weight: normal;
}

#item .tabSelectedInr{
    width: 100%;
    min-height: 10rem;
    margin-bottom: 2%;
}

#item .tabSelected .tabSelectedInr .tagSelectedName{
    font-size: 1.4rem;
    padding-bottom: 3px;
}

#item .tabSelected .tabSelectedInr li{
    font-size: 1.3rem;
}

#item .tabSelected .tabSelectedInr li span{
    margin-left: 1rem;
    margin-right: 1.5rem;
}

#item .tabSelected ul{
    display: flex;
    flex-wrap: wrap;
}

#item .item {
    padding-top: 6%;
}

#item .itemHeader {
    display: table;
    width: 100%;
}

#item .new {
    display: table-cell;;
    font-size: 1.4rem;
    width: 10%;
    color: #fff;
    background: #415e69;
    text-align: center;
    vertical-align: middle;
}

#item .name{
    display: table-cell;
    font-size: 1.6rem;
    color: #fff;
    background: #5e8796;
    vertical-align: middle;
    padding: 1% 1.5%;
    position: relative;
    border-top-right-radius: 8px;
    border: 1px solid #5e8796;
}

#item .itemHeader p:first-child{
    border-top-left-radius: 8px;
}

#item .name span{
    font-size: 1.2rem;
    position: absolute;
    right: 2%;
    bottom: 25%;
}

#item .itemInfo{
    width: 100%;
    margin: 0 auto;
    padding: 2% 0;
    border: 1px solid #5e8796;
    border-radius: 0 0 8px 8px;
}

#item .itemInfoInr{
    width: 95%;
    margin: 0 auto;
}

#item .pickUp{
    display: flex;
    width: 100%;
    margin-bottom: 2%;
}

#item .pickUpRate{
    display: flex;
    width: 49%;
    margin-bottom: 2%;
}

#item .pickUpArea{
    display: flex;
    width: 49%;
    margin-bottom: 2%;
    margin-left: 2%;
}

#item .rate{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    color: #5e8796;
    background: #becfd5;
    font-weight: bold;
    text-align: center;
    padding: 2% 2.5%;
}

#item .rate_detail{
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 1.6rem;
    color: #E38585;
    background: #eef3f4;
    font-weight: bold;
    padding-left: 2.5%;
}

#item .area{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    color: #5e8796;
    background: #becfd5;
    font-weight: bold;
    text-align: center;
    padding: 2% 2.5%;
}

#item .area_detail{
    display: flex;
    align-items: center;
    width: 80%;
    background: #eef3f4;
    font-weight: bold;
    padding-left: 2.5%;
}

#item .other{
    display: table;
    width: 100%;
    border-bottom: 1px dotted #5e8796;
}

#item .otherName{
    display: table-cell;;
    width: 20%;
    font-weight: bold;
    padding: 1% 2%;
}


#item .otherValue{
    display: table-cell;;
    width: 80%;
    padding: 1% 2%;
}

#item .detail{
    padding-top: 2%;
}

#item .otherValue .wordPunctuation:last-child{
    display: none;
}

/*-------------------------------
## 案件詳細
-------------------------------*/
#itemDetail .item{
    padding-top: 3%;
}

#itemDetail .other:nth-child(2){
    border-top: 1px dotted #5e8796;
}

#itemDetail .otherName{
    text-align: center;
    font-size: 1.3rem;
    color: #5e8796;
    background-color: #eef3f4;
    padding: 1% 0;
    vertical-align: middle;
}

#itemDetail .otherValue{
    width: 80%;
    padding: 1% 2%;
}

#itemDetail .itemTagList{
    padding-top: 2%;
}

#itemDetail .tag{
    font-size: 1.1rem;
    color: #5e8796;
    background-color: #eef3f4;
    display: inline-block;
    padding: 0 1%;
    line-height: 3rem;
    margin: 0.5%;
}

#itemDetail .commonCenterBtn a button{
    font-size: 1.3rem;
}

#itemDetail .keyWordSearch{

}

#item .keyWordSearchForm{
    width: 100%;
}

/* こちらもおすすめ */
.recommended {
    background: url(../images/absurdidad.png);
    padding: 24px 0;
}

.recommendedInr{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.recommendedInr h3{
    font-size: 1.6rem;
    font-weight: bold;
}

.recoItems {
    margin-top: 2%;
    display: flex;
}

.recoItem {
    color: #5e8796;
    width: 19%;
    background: #fff;
}

.recoItem:not(:first-child){
    margin-left: 1.25%;
}

.recoItem .header{
    background: #becfd5;
    text-align: center;
    padding: 4%;
    font-weight: bold;
}

.recoItem .detail{
    font-weight: bold;
    padding: 4%;
}

.recoItem .detail .name{
    display: table-cell;
    width: 35%;
    font-weight: normal;
}

.recoItem .detail .rate,
.recoItem .detail .area{
    display: table-cell;
    width: 65%;
}
.recoItem .detail .skill{
    font-weight: normal;
    padding-top: 5%;
}

/*-------------------------------
## お問い合わせ
-------------------------------*/
.contact{
    width: 95%;
    margin: 0 auto;
}
#contact p.pageInfo{
    color: #5e8796;
    padding: 2% 0 3%;
}

textarea{
    width: 100%;
    border: 1px solid #5e8796;
    border-radius: 5px;
}

#contact p.mailConfirmText{
    padding-top: 2%;
}

#contact .userNameTable{
    display: table;
    width: 85%;
}

.userNameTable .table-row:nth-child(2) label{
    padding-top: 2%;
}

#contact .userNameTable label{
    font-size: 1.3rem;
    width: 50%;
    display: table-cell;
}

#contact .userNameTable input{
    width: 85%;
    padding: 2%;
    margin-left: 2%;
}

.confirmBtn{
    margin: 0 auto;
    text-align: center;
    padding-top: 3%;
    display: table;
}

#contact .button{
    width: 45%;
    display: table-cell;
    padding: 0 2%;
}

.confirmBtn button {
    font-size: 1.4rem;
	width: 100%;
	border-radius: 32px;
	background: #5e8796;
	color: #fff;
	border-style: none;
    padding: 2.5% 0;
}

/* プライバシーポリシー */
.textAreaInr .title{
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 1% 0;
}

.textAreaInr .caption{
    font-weight: bold;
    font-size: 1.4rem;
    padding-top: 1%;
}

.textAreaInr p{
    padding: 1% 1rem 0;
}

.textAreaInr p.titleDetail{
    padding: 0;
}


/*-------------------------------
## ご利用の流れ
-------------------------------*/

.flowImages{ padding-top: 6%; }

.flowImage{
    width: 12.5%;
    float: left;
}
.flowImage li{ text-align:center }
.flowImage img{ width: 85%; }

.flowImage ul li:first-child{
    padding-bottom: 1rem;
}

.flowImage ul li:last-child{
    padding-top: 1rem;
}

.flowWords{
    width: 100%;
    display: table;
    margin-top: 4%;
}
.flowWords li{
    display: table-cell;
    padding: 2.5%;
    vertical-align: middle;
}

.flowWordTitle{
    background: #5e8796;
    width: 20%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.flowWordTitle h2{
    color: #fff;
    text-align: center;
    padding: 4px 0px;
    font-size: 1.7rem;
}

.flowWordDetail{
    border: 1px solid #5e8796;
    width: 80%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*-------------------------------
## Q&A
-------------------------------*/
#question{ margin: 0 4%; }

.subTitle{
    margin-top: 4%;
    color: #5e8796;
}

.questionElement{
    display: table;
    width: 100%;
    margin-top: 2%;
}

.questionElement img{
    width: 35px;
    height: 35px;
}


#question .qaMark{
    display: table-cell;
    width: 35px; /* 理論上の最大値 */
    font-size: 1.5rem;
    color: #fff;
    font-family: Verdana;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.questionMark{ background: #5e8796; }
.anserMark{ background: #E38585; }

.questionText{
    display: table-cell;
    width: 90%;
    font-size: 1.4rem;
    vertical-align: middle;
}

.questionText::before{
    content: "\a0\a0";
}

.questionOpen{
    display: table-cell;
    color: #5e8796;
    width: 5%;
    font-size: 2rem;
    text-align: center;;
    vertical-align: middle;
}

.anserElement{
    display: table;
    width: 100%;
    margin-top: 2%;
}

.anserText{
    display: table-cell;
    width: 90%;
    font-size: 1.4rem;
    vertical-align: middle;
    padding: 1%;
}

#question .url{
    color: #E38585;
    text-decoration: underline;
    text-decoration-style: dotted;
}

#question .partitionLine{
    border: 1px dashed #333;
    opacity: 0.4;
    margin-top: 2%;
}

.clickText:hover{
    color: #5e8796;
    opacity: 0.6;
    cursor: pointer;
}

/*-------------------------------
## プライバシーポリシー, 利用規約
-------------------------------*/
.privacyPolicy,
.terms{
    width: 95%;
    margin: 0 auto;
}

.privacyPolicyInr{
    width: 95%;
    margin: 0 auto;
}

#privacyPolicy .contentTitle{
    width: 95%;
    margin: 0 auto;
    padding-top: 4%;
}

#privacyPolicy .block,
#terms .block{
    margin-top: 1.5%;
}

#privacyPolicy .text,
#terms .text{
    padding: 0.5% 1rem 0;
}

/*-------------------------------
## エンジニアルートとは
-------------------------------*/
.aboutERouteInr{
    width: 95%;
    margin: 0 auto;
}

#aboutERoute img{
    padding-top: 2%;
}

#aboutERoute p{
    padding-top: 2.5%;
    line-height: 3rem;
}


/*-------------------------------
## サイドバー
-------------------------------*/
.sideInfo{ width: 100%; }
.sideInfo ul{ margin-left: 15%; }
.sideInfo li{ margin-bottom: 5%; }

li.customBanner{
    background: #E38585;
    border-radius: 7px;
    box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.6);
    text-align: center;
    margin-bottom: 10%;
}

.customBanner h2{
    color: #fff;
    padding: 4% 0;
}

.customBanner p{
    font-size: 1.1rem;
    color: #fff;
    padding-bottom: 1rem;
}

/*-------------------------------
# ヘッダー
-------------------------------*/
.headerInr{
	width: 95%;
    max-width: 1000px;
	margin: 0 auto;
	height: 100px;
	position: relative;
}

.headerInr p{
	line-height: 3.2rem;
	font-size: 1.3rem;
}

.headerInr h1{ width: 100%; }

.headerInr h1 a{
	background: url(../images/logo.png)no-repeat;
	background-size: 276px 68px;
	display: block;
	height: 68px;
}

/* 新規登録、ログイン*/
.user{
	position: absolute;
	top: 0;
	right: 0;
}

.user li{
	display: inline-block;
	background: #333;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.6);
}

.user li:hover{
    background: #4c616a;
    transition: 0.25s;
}

.user li a{
	color: #fff;
	line-height: 3.2rem;
	padding: 0 2.5rem;
	font-size: 1.4rem;
}

/* キーワード検索 */
header .search{
	position: absolute;
	right: 0;
	bottom: 12px;
}

.searchBox{
	border: #5e8796 1px solid;
	border-radius: 8px;
	padding: 8px;
	margin-right: 4px;
}

.searchBtn{
	background: url(../images/search.png)no-repeat;
	background-size: 26px 26px;
	width: 26px;
	height: 26px;
	text-indent: 100%;
	cursor: pointer;
	border: none;
    vertical-align: middle;
}

/* nav */
nav{ width: 100%; background: #5e8796; }

nav ul{
    max-width: 1000px;
	margin: 0 auto;
	font-size: 0px; /* 隙間対策 */
    text-align: center;
}

nav li{
    text-align: center;
    width:16.6%;
	display: inline-block;
    vertical-align: middle;
}

nav li a{
	color: #fff;
	font-size: 1.4rem;
	line-height: 4.8rem;
	padding: 1rem;
}

nav li a:hover{ color: #4c616a; }

nav ul .active{ background: #536C75; }

/*-------------------------------
# page
-------------------------------*/

.contentInr{
	width: 95%;
    max-width: 1000px;
	margin: 0 auto;
	padding: 24px 0 40px;
}

.contentInr h1{
	font-size: 20px;
	margin-bottom: 24px;

}

.contentInr h1:before{
	content: " ";
	background: url(../images/h1search.png)no-repeat;
	width: 20px;
	height: 20px;
	background-size: 16px 16px;
	background-position: 0 4px;
	display: inline-block;
}


/*-------------------------------
## top
-------------------------------*/

#top{ margin: 0; }

#top .tabMenu ul li{ font-size: 1.4rem; }

/* -- slider -- */
.sliderWrap{
}

/*左右の矢印の色を変える*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}
/*左右の矢印の位置を変える*/
.slick-next {
    right: 20px;
    z-index: 99;
}
.slick-prev {
  left: 15px;
    z-index: 100;
}
/*スライド数のドットの色を変える*/
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #fff;
}

/* -- 新着案件・急募案件 -- */
/* common */

.topItemList{
    margin: 0 auto;
}

.topJobWrap{
    max-width: 1000px;
    margin: 0 auto;
	padding: 32px  12px;
}

.topJobWrap h1{
	font-size: 20px;
	margin-bottom: 16px;
}

.topJobWrap li{
	width: 25%;
	display: inline-block;
	font-size: 14px;
	padding: 8px;
	vertical-align: top;
	position: relative;
}

.topJobWrap .topJobInr{
    height: auto;
	background: #fff;
	border-radius: 8px;
	padding: 16px;
}

.topJobInr img{
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 8px;
	margin-bottom: 16px;
}

.topJobInr h2{
	font-size: 14px;
	line-height: 1.2;
	margin-bottom: 16px;
	margin-top: 5px;
}

.topJobInr .location,
.topJobInr .remuneration{
	clear: both;
    font-size: 13px;
	font-weight: bold;
	margin-bottom: 8px;
}

.topJobInr .update{
	color: #7F7F7F;
	font-size: 13px;
	position: absolute;
	bottom:16px;
	right: 16px;
}

.topJobWrap p a:hover{
	text-decoration: underline;
}

.topJobWrap p a:before{
	display: inline-block;
	width: 6px;
	height: 6px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	content: "";
	margin-right: 6px;
	margin-bottom: 1px;
}

/* 新着 */
.newJob{
	width: 100%;
	background: #E7EFF3;
}

.newJob p a,
.newJob .location{
	color: #5e8796;
    font-size: 13px;
}

.newJob .topJobWrap p a:before{
	border-top: 2px solid #5e8796;
	border-right: 2px solid #5e8796;
}


/* 急募 */
.attentionJob{
	background: #F8F3F0;
}

.attentionJob p a,
.attentionJob .location{
	color: #D46363;
}

.attentionJob .topJobWrap p a:before{
	border-top: 2px solid #D46363;
	border-right: 2px solid #D46363;
}

/* 特集 */
.pickupCat {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 24px 0;
}

.pickupCat h1{
	font-size: 20px;
    margin-bottom: 24px;
}

.pickupCat h1:before{
    content: " ";
	background: url(../images/h1search.png)no-repeat;
    width: 20px;
	height: 20px;
    background-size: 16px 16px;
	background-position: 0 4px;
    display: inline-block;
}

.pickupCat li{
	display: inline-block;
	width: 33.3%;
	text-align: center;
	line-height: 32px;
	padding: 8px;
}

.pickupCat li a{
	display: block;
	border-radius: 32px;
	font-size: 16px;
	font-weight: bold;
	line-height: 48px;
	box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.3);
	background-size: 32px 64px;
}

.pickupCat li a:before{
	width: 32px;
	height: 32px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 5px;
	margin-right: 8px;
	content: "";
}

.pickupCat li img{
	width: 32px;
	height: 64px;
	margin-right: 8px;
}

.pucat01 a{
	border: 3px solid #89A1BE;
	color: #89a1be;
}

.pucat01 a:before{
	background: url(../images/ico-pickup01.png)no-repeat;
	background-size: 32px 64px;
}

.pucat01 a:hover{
	background: #89a1be;
	color: #fff;
}

.pucat02 a{
	border: 3px solid #9B9B9B;
	color: #9b9b9b;
}

.pucat02 a:before{
	background: url(../images/ico-pickup02.png)no-repeat;
	background-size: 32px 64px;
}

.pucat02 a:hover{
	background: #9B9B9B;
	color: #fff;
}

.pucat03 a{
	border: 3px solid #D9BF21;
	color: #D9BF21;
}

.pucat03 a:before{
	background: url(../images/ico-pickup03.png)no-repeat;
	background-size: 32px 64px;
}

.pucat03 a:hover{
	background: #D9BF21;
	color: #fff;
}

.pucat04 a{
	border: 3px solid #88BA4E;
	color: #88BA4E;
}

.pucat04 a:before{
	background: url(../images/ico-pickup04.png)no-repeat;
	background-size: 32px 64px;
}

.pucat04 a:hover{
	background: #88BA4E;
	color: #fff;
}

.pucat05 a{
	border: 3px solid #A78260;
	color: #A78260;
}

.pucat05 a:before{
	background: url(../images/ico-pickup05.png)no-repeat;
	background-size: 32px 64px;
}

.pucat05 a:hover{
	background: #A78260;
	color: #fff;
}

.pucat06 a{
	border: 3px solid #E38585;
	color: #E38585;
}

.pucat06 a:before{
	background: url(../images/ico-pickup06.png)no-repeat;
	background-size: 32px 64px;
}

.pucat06 a:hover{
	background: #E38585;
	color: #fff;
}

.pucat01 a:hover:before,
.pucat02 a:hover:before,
.pucat03 a:hover:before,
.pucat04 a:hover:before,
.pucat05 a:hover:before,
.pucat06 a:hover:before{
	background-position: 0 -32px;
	transition: 0.25s;
}

/* 条件 */
.conditions{
	background: url(../images/absurdidad.png);
	overflow: auto;
}

.conditions .contentInr{
    width: 95%;
    margin: 0 auto;
    padding: 24px 0 40px;
}

.tabWrap{
    width: 100%;
}

.tabMenu {
    margin:0;
    width:13.6%;
    padding:0;
    float:left;
	}

.tabMenu ul li {
	width: 100%;
	padding: 16px 0;
	display: block;
	text-align: center;
	cursor: pointer;
	background: #5E8796;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	color: #fff;
	margin-bottom: 2px;
	border: 1px solid #EBEBEB;
	border-right: 0;
	}

.tabMenu li:hover{
	opacity: 0.6;
	transition: 0.3s;
}

.tabMenu .navhit{
	background:#fff;
	color: #5e8796;
	}

.tabBox{
    width:59.2%;
    float:left;
	}

.tabBox .tabBoxInr{
	border: 1px solid #EBEBEB;
	padding: 24px;
	background: #fff;
	border-left: 0;
	min-height: 320px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.tabBox .tabBoxInr .attention{
	color: #5e8796;
	font-weight: bold;
	font-size: 15px;
}

.tabBox .tabBoxInr .attention span{
	text-align: right;
	font-weight: normal;
	color: #666;
	display: inline-block;
	float: right;
	font-size: 12px;
	vertical-align: top;
}

/* y.suzuki start */
/* 条件から案件を探す start */
.tabContentElementOneThird{
	display: inline-block;
	width: 32%;
	text-align: left;
	padding: 3px;
	margin: 0px;
}
.tabContentElementHalf{
	display: inline-block;
	width: 40%;
	text-align: left;
	padding: 3px;
	margin: 0px;
}


.tabSelected{
	width:27.2%;
	padding-left: 22px;
	float:left;
}

.tabSelectedInr{
	border: 1px solid #EBEBEB;
	padding: 24px;
	background: #fff;
	min-height: 320px;
	border-radius: 8px;
}

.tabSelected .tabSelectedInr p.attention{
	color: #5e8796;
	font-weight: 650; /* boldよりちょい細め */
	font-size: 15px;
	padding-bottom: 10px;
}

.tabSelected .tabSelectedInr .tagSelectedName{
	color: #5e8796;
    font-size: 12px;
	font-weight: 300;
	padding: 3px;
	padding-bottom: 5px;
}

.tabSelected .tabSelectedInr .partitionLine{
	border-top: 1px dashed;
	margin-top: 7px;
	margin-bottom: 10px;
}

.tabSelected .tabSelectedInr li{
	font-size: 12px;
	font-weight: 300;
	padding: 3px;
	padding-bottom: 5px;
}

.tabSelected .tabSelectedInr li span{
	text-align: center;
	color: #fff;
	background: #5e8796;
	font-size: 12px;
	width: 12px;
	float: right;
	border-radius: 2px;
	cursor: pointer;
}

#tagSelectedSkill{display: none;}
#tagSelectedSysType{display: none;}
#tagSelectedRate{display: none;}
#tagSelectedBizCategory{display: none;}
#tagSelectedArea{display: none;}
#tagSelectedPosition{display: none;}

/* 検索ボタン start */
.centerBtn{
	text-align: center;
}

.centerBtn button{
	margin: 20px auto 40px;
	width: 33.3%;
	border-radius: 32px;
	background: #5e8796;
	color: #fff;
	line-height: 30px;
	border-style: none;
	font-size: 13px

}
/* 検索ボタン end */
/* 条件から案件を探す end */

/* カテゴリーから案件を探す */

.categorySearch{
}

.categorySearchInr{
	width: 72.8%;
	margin: 0 auto;
	float: left;
}

.categorySearch .categorySearchInr h1{
	font-size: 20px;
	margin-bottom: 24px;
}

.categorySearch .categorySearchInr h1:before{
	content: " ";
	background: url(../images/h1search.png)no-repeat;
	width: 20px;
	height: 20px;
	background-size: 16px 16px;
	background-position: 0 4px;
	display: inline-block;
}

.categorySearch .categorySearchInr .parentCategory{
	font-size: 15px;
	line-height: normal;
	font-weight: bold;
}

.categorySearch .categorySearchInr .parentCategory:before{
	content: "\a0";
	background: #5e8796;
	font-weight: bold;
	display: inline-block;
}

.categorySearch .categorySearchInr .childCategory{
	margin-top: 5px;
	opacity: 0.8;
}

.categorySearch .categorySearchInr .childCategory a{
	font-size: 13px;
}

.categorySearch .categorySearchInr .childCategory span{
	margin-right: 10px;
	margin-left: 10px;
}

.categorySearch .categorySearchInr .categoryPartitionLine{
	border-top: 1px dashed #5e8796;
	margin-top: 7px;
	margin-bottom: 10px;
}

/* side info start */

.sideInfoInr{
	width: 27.2%;
	padding-left: 22px;
	float: right;
}

.sideInfoInr p{
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #E38585;
    line-height: 30px;
    border-radius: 7px;
    box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.6);
}

.sideInfoInr p span.cstmBnrSubWord{
    font-size: 11px;
    font-weight: lighter;
}

.sideInfo .sideInfoInr .sideInfoCstmBnr{
	width: 100%;
	border-radius: 7px;
	background: #E38585;
	line-height: 30px;
	margin-bottom: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
    box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.6);
}

.sideInfo .sideInfoInr .sideInfoCstmBnr a{
	color: #fff;
}

.sideInfo .sideInfoInr .sideInfoCstmBnrMWrd{
	text-align: center;
	font-size: 21px;
}

.sideInfo .sideInfoInr .sideInfoCstmBnrSWrd{
	text-align: center;
	font-size: 11px;
}

.sideInfo .sideInfoInr .sideInfoImgBnr{
	margin-top: 10px;
}
/* side info end */

/* キーワードから案件を探す */
.keyWordSearch{
    width: 100%;
    padding: 24px 0;
}

.keyWordSearch h1{
	font-size: 20px;
	margin-bottom: 24px;

}

.keyWordSearch h1:before{
	content: " ";
	background: url(../images/h1search.png)no-repeat;
	width: 20px;
	height: 20px;
	background-size: 16px 16px;
	background-position: 0 4px;
	display: inline-block;
}


.keyWordSearchForm {
	width: 72.8%;
}

.keyWordSearchInputForm {
	width: 79%;
	line-height: 30px;
	font-size: 14px;
	border: 2px solid #5e8796;
	border-radius: 5px;
	vertical-align: middle;
}

.keyWordSearchSearchBtn {
	width: 20%;
	line-height: 30px;
	font-size: 17px;
	border-radius: 5px;
	background: #5e8796;
	color: #fff;
	border-style: none;
	vertical-align: middle;
}

/* keyword search end */
/* y.suzuki end */

/*-------------------------------
# footer
-------------------------------*/
footer{
    margin-top: 5%;
	text-align: center;
}

footer ul{
    padding-top: 10%;
}

footer li{
	display: inline-block;
	padding: 0 3% 2rem 3%;
}

footer li a{
    font-size: 1.2rem;
	color: #536c75;
}

footer li a:hover{
	color: #ccc;
}

footer p{
	background: #5E8796;
	color: #fff;
	padding: 1.6rem 0;
	font-size: 1.2rem;
}

/*===============================
pc.css 1025px~
===============================*/
@media screen and (min-width: 1025px) {

    html{
        font-size: 62.5%; /* 10px */
    }
    /*  invisible element */
    .invisible-pc{ display: none; }
}

/*===============================
tablet.css 641px~1024px
===============================*/
@media screen and (max-width: 1024px) {

    /*-------------------------------
	# common
    -------------------------------*/
    @media screen and (min-width: 641px) {
        /*  invisible element */
        .invisible-tab{ display: none; }
    }

    html{
        /* base font-size(9px) */
        font-size: 56.25%;
    }

    .wrap{
        width:95%;
        margin:0 auto;
    }

	/* nav inline-blockからflexBoxに変更 */
	nav ul{
        width: 95%;
        display: flex;
    }
    nav li{
        min-height: 4.8rem;
        display: flex;
        justify-content: center;
    }
	nav li a{
        line-height: 2.4rem;
    }

    /*-------------------------------
	# お問い合わせ
	-------------------------------*/
    #contact .inputField input{ width: 100%; }
    #contact .inputField textarea{ width: 100%; }
    #contact .userNameTable{ width: 100%; }
    #contact .userNameTable input{ width: 86%; }

    /*-------------------------------
    # 案件詳細
    -------------------------------*/
    #item .tabSelected{
        margin: 0;
    }

    #item .tabSelected .title span{
        padding: 2px 1rem
    }

    /*-------------------------------
    # 案件詳細
    -------------------------------*/
    /* こちらもおすすめ */
    .recommendedInr{
        width: 95%;
    }

    .feature{
        padding: 0 2.5%;
    }

    /*-------------------------------
	# page
	-------------------------------*/
	.contentInr{
		width: 95%;
        margin: 0 auto;
	}

	/*-------------------------------
	## top
	-------------------------------*/
    #top .wrap{
        width:100%;
        margin:0 auto;
    }

	/* 新着・急募*/
	.newJob,
	.attentionJob{
		padding: 0;
	}

	.topJobWrap{
		width: 100%;
		padding: 16px;
	}

	.topJobWrap h1{
		margin-bottom: 8px;
        font-size: 16px
	}

	.topJobWrap .topJobInr{
		padding: 16px 8px;
        width: auto;
	}

	.topJobWrap .update{

	}

	.topJobInr h2{
		font-size: 13px;
	}

	/* 条件から検索 */
	.tabWrap{
		width: 100%;
	}

    .tabMenu {
        width:20%;
    }

    .tabBox{
        width:80%;
        float:left;
    }

	.tabSelected{
		width: 80%;
		padding: 0px;
		padding-top: 10px;
		margin-left: 20%;
	}
	.tabSelectedInr{
		min-height: 0px;
	}

	/* カテゴリーから案件を探す */
	.categorySearchInr{
	}

	/* サイドバー width: 728px; */
	.sideInfo{

	}
	.sideInfoInr{
		width: 27.2%;
		float: right;
        padding-left: 5px;
	}
	.sideInfo .sideInfoInr .sideInfoCstmBnr{
		border-radius: 7px;
		background: #E38585;
		line-height: 30px;
		margin: 15px 2px 0px;
		float: left;
        height: 70px;
        padding-top: 10px;
	}

	.sideInfo .sideInfoInr .sideInfoCstmBnr a{
		color: #fff;
	}

	.sideInfo .sideInfoInr .sideInfoCstmBnrMWrd{
		text-align: center;
		font-size: 21px;
	}

	.sideInfo .sideInfoInr .sideInfoCstmBnrSWrd{
		text-align: center;
		font-size: 11px;
	}

	.sideInfo .sideInfoInr .sideInfoImgBnr{
		width: 100%;
		margin-top: 10px;
		float: left;
		margin: 15px 2px 0px;
	}
}

/*===============================
sp.css ~640px
===============================*/
@media screen and (max-width:640px){

    /*-------------------------------
	# common
	-------------------------------*/
    html{
        /* base font-size(8px) */
        font-size: 56.25%;

/*        font-size: 50%; */
    }
    .invisible-sp{ display: none; }
    .wrap{ width: 100%; }
    .content{ margin: 10% 2.5% 5% 2.5%; }

    /* navi */
    .nav-mobile {
    	display:none; /* Hide from browsers that don't support media queries */
    	cursor:pointer;
    	position:absolute;
    	top:12px;
    	right:8px;
    	background:url(../images/navOpen.png) no-repeat center center;
    	height:24px;
    	width:24px;
    	background-size: 24px 24px;
    }

    .commonCenterBtn button {
    	width: 70%;
        font-size: 1.4rem;
    }

    /* 検索コンテンツ用ヘッダー */
    .searchHeader h1{
        background: #5e8796;
        color: #fff;
        font-size: 16px;
        line-height: 48px;
        padding-left: 16px;
    }

    .searchHeader h1:before{
        content: " ";
        background: url(../images/h1search-sp.png)no-repeat;
        width: 20px;
        height: 20px;
        background-size: 14px 14px;
        background-position: 0 6px;
        display: inline-block;
    }

    /*-------------------------------
    # 新規会員登録
    -------------------------------*/
    .input_field{
        width: 100%;
        padding: 1rem 0.5rem;
        display: block;
    }

    .input_f_name{
        display: block;
        width: 100%;
    }

    .input_f_name p{
        line-height: ;
    }


    .input_f_value{
        display: block;
        width: 100%;
        padding-top: 1.6rem;
    }

    .input_f_value label{
        display: block;
        width: 100%;
    }

    .input_name label:nth-child(3) {
        margin-top: 0.7rem;
    }

    .input_name label:nth-child(4) {
        margin-top: 0;
    }

    .input_f_value label input{
        display: inline-block;
        width: 85%;
        font-size: 1.4rem;
        border: 1px solid #5e8796;
        border-radius: 5px;
        padding: 0.6rem;
        margin-left: 12px;
        margin-bottom: 0.7rem;
    }

    .input_gender {display: inline-flex;}
    .input_gender label{width: 50%; display: inline-flex; align-items: center;}
    .input_gender label input{width: auto; margin: 0;}

    .input_birth{}
    .input_birth label{display: inline-flex; width: auto;}
    .input_birth label:not(:first-child){margin: 0 0 0 12px;}
    .input_birth label:first-child{margin: 0;}

    .input_f_value input{width: 100%;}

    .input_contract{display: inline-flex;}
    .input_contract label{width: 50%;}
    .input_contract label input{width: auto;}

    .input_email{}
    .input_email label input{width: 100%; margin: 0 0 0.5rem 0;}
    #user_complete .contentInr p:first-child{
        padding-top: 2rem;
    }

    /*-------------------------------
    # ログイン
    -------------------------------*/
    #login .loginInr{
        width: 95%;
        margin: 0 auto;
    }

    #login .login_input p{
        display: block;
        width: 100%;
    }

    #login .login_input input{
        display: block;
        width: 100%;
    }

    #login .infoText{
        padding: 1rem 0;
    }

    #login .infoText p{
        line-height: 2rem;
    }

    #login .contentInr{
        width: 95%;
        padding: 2rem 0;
    }

    #login .contentInr p{
        padding-bottom: 1.4rem;
    }

    /*-------------------------------
    # 条件を指定して検索
    -------------------------------*/
    .condition_search{
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .searchContent li{
        width: 100%;
        line-height: 4rem;
        font-size: 2rem;
        padding: 0 5%;
    }

    .searchContent li span{
        float: right;
    }

    .searchContent li.condition_name{
        color: #5e8796;
        background: #becfd5;
        border-bottom: 1px solid #fff;
    }

    .searchContent li.condition_name:hover{
        color: #becfd5;
        background: #5e8796;
    }

    .condition_slideArea{
        display: none;
    }

    li.condition_elmnt_name{
        font-size: 1.7rem;
        color: #5e8796;
        border-bottom: 1px solid #becfd5;
    }

    li.condition_elmnt{
        display: inline-block;
        width: 50%;
    }

    li.condition_elmnt:nth-child(even){
        padding-left: 0;
    }

    li.condition_elmnt label{
        font-size: 1.4rem;
    }

    .tabSelected {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .tabSelected .title{
        font-size: 1.77rem;
        line-height: 4.8rem;
        padding-left: 16px;
    }

    .tabSelected .tabSelectedInr li{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tabSelected .tabSelectedInr li span{
        width: auto;
        font-size: 3rem;
        float: none;
        padding: 0 0.33rem;
    }

    /*-------------------------------
	# 該当案件一覧
	-------------------------------*/
    #item .pickUp{
        display: flex;
        flex-wrap: wrap;
    }

    #item .pickUpRate,
    #item .pickUpArea{
        width: 100%;
    }

    #item .pickUp .pickUpArea{
        margin-left: 0;
    }

    .pickupCat h1{
        background: #5e8796;
        color: #fff;
        font-size: 16px;
        line-height: 48px;
        margin-bottom: 16px;
        padding-left: 16px;
    }

    .pickupCat h1:before{
        content: " ";
        background: url(../images/h1search-sp.png)no-repeat;
        width: 20px;
        height: 20px;
        background-size: 14px 14px;
        background-position: 0 6px;
        display: inline-block;
    }

    /*-------------------------------
	# 案件詳細
	-------------------------------*/
    #itemDetail .other{
        display: block;
    }

    #itemDetail .otherName{
        display: block;
        width: 100%;
        text-align: left;
        background-color: white;
        color: black;
    }

    #itemDetail .otherName:before {
        content: "\a0";
    	background: #becfd5;
    	font-weight: bold;
        margin-right: 1%;
    }

    #itemDetail .otherValue{
        display: block;
        width: 100%;
        padding: 1% 0;
    }

    /* こちらもおすすめ　 */
    .recommended{
        padding: 0;
        background: url(../images/absurdidad.png);
    }

    .recommendedInr {
        width: 100%;
    }

    .recommendedInr h3{
        background: #5e8796;
        color: white;
        font-size: 16px;
        line-height: 48px;
        margin-bottom: 16px;
        padding-left: 16px;
    }

    .recoItems{
        margin-top: 0;
        flex-wrap: wrap;
    }

    .recoItem{
        width: 100%;
        margin: 3% 16px 0 16px;
    }

    .recoItem:not(:first-child){
        margin-left: 16px;
    }

    .recoItem:last-child{
        margin-bottom: 16px;
    }

    .recoItem .header{
        padding: 2%;
        text-align: left;
    }

    .recoItem .detail{
        padding: 3%;
    }

    .recoItem .detail .skill{
/*        display: inline-block;
        width: 35%; */
        padding-top: 0;
    }

    .recoItem .detail .skills{
        /*display: inline-block;*/
    }

    .feature{
        padding: 0;
    }

    /*-------------------------------
    # お問い合わせ
    -------------------------------*/
    #contact .inputName{
        width: 100%;
        display: table-row;;
    }
    #contact .inputField{
        width: 100%;
        display: table-row;;
        margin: 1% 0;
    }
    #contact .inputName p{
        padding: 1% 0;
     }
    #contact .inputField input{
        width: 100%;
        margin: 1% 0;
    }
    #contact .inputField textarea{ width: 100%; }
    #contact .confirmBtn{
        width: 80%;
    }
    #contact .button{
        width: 100%;
        margin: 0;
        padding: 0;
        display: table-row;
    }
    #contact .confirmBtn button{
        width: 100%;
        padding: 2.5% 0;
        margin: 2% 0;
    }


    /*-------------------------------
    ## ご利用の流れ
    -------------------------------*/
    .content-left{ width: 100%; }

    .content-right{
        width: 100%;
        float: left;
    }

    .flowImage{ width: 25%; }
    .flowImage ul{ margin-top: 10%; }
    .flowImage li h4{ padding: 10% 0%; }

    .flowWords ul{ display: block; }
    .flowWords li{
        display: block;
        line-height: normal;
    }

    .flowWordTitle{
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }

    .flowWordTitle h2{ display: inline; }

    .flowWordTitle h2:nth-child(2):before {
        content: "\a0\a0\a0"
    }

    .flowWordDetail{
        width: 100%;
        border-radius: 0px 0px 10px 10px;
    }

    /*-------------------------------
    ##　Q&A
    -------------------------------*/

    .subTitle{ margin-top: 7%; }
    .questionElement{ margin-top: 3%; }
    #question .partitionLine{ margin-top:3%; }

    /*-------------------------------
    ## サイドバー
    -------------------------------*/
    .sideInfo{ margin-top: 15%; }
    .sideInfo ul{ margin-left: 0; }
    .sideInfo li{
        width: 48%;
        float: left;
        margin: 1%;
    }










	/*-------------------------------
	# header
	-------------------------------*/
	header{
		height: 48px;
	}

	.headerInr p{
		display: none;
	}

	.headerInr{
		padding: 0 16px;
		height: 48px;
	}

	.headerInr h1{
		margin-top: 8px;
		width: 100%;
	}

	.headerInr h1 a {
		background-size: 160px;
		height: 40px;
	}

	/* user */
	.user{
		top: 8px;
		right: 48px;
	}

	.user li{
		background: #5e8796;
		border-radius: 8px;
		box-shadow: none;
	}

	/* search */
	.headerInr .signin,
	.search{
		display: none;
	}

    /* navi-list */
    nav ul{ width: 100%; }
    nav ul li{
        width: 100%;
        min-height: 1.4rem;
    }
    nav ul li a{
        width: 100%;
        padding: 0.5rem 0;
        line-height: 2rem;
        border: 0;
        border-bottom: 1px solid #fff;
    }

    .nav-list {
        display: none;
    }
    .nav-active {
        display: block;
    }

    .nav-mobile {
		display:block;
	}
	.nav-mobile-open {
		background: url(../images/navClose.png)center no-repeat;
		background-size: 20px;
	}

	/*-------------------------------
	# footer
	-------------------------------*/

    .bg{ background: #5E8796; }

    footer{ margin-top: 0; }

	footer ul{
        padding: 0;
		letter-spacing: -1em; /* inline-blockの隙間対策 */
	}

	footer li{
		width: 50%;
		padding: 16px 8px;
		font-size: 13px;
		border-right: #9eb7c0 1px solid;
        border-bottom: #9eb7c0 1px solid;
        letter-spacing: normal;
	}

	footer li:nth-child(even){ border-right: 0; }

	footer li a{ color: #fff; }

	footer li a:hover{ color: #ccc; }

	footer p{
		color: #fff;
		padding: 16px 0;
		font-size: 12px;
	}

	/*-------------------------------
	# page
	-------------------------------*/

    #top{
        width:100%;
        margin:0 auto;
    }

    #top .content{
        width:100%;
        margin:0 auto;
    }

	.contentInr{
        width: 100%;
		padding: 0 0 32px;
	}

	.contentInr h1{
		background: #5e8796;
		color: #fff;
		font-size: 16px;
		line-height: 48px;
		margin-bottom: 16px;
		padding-left: 16px;
	}

	.contentInr h1:before{
		content: " ";
		background: url(../images/h1search-sp.png)no-repeat;
		width: 20px;
		height: 20px;
		background-size: 14px 14px;
		background-position: 0 6px;
		display: inline-block;
	}

	/* 新着・急募*/
	.newJob,
	.attentionJob{
		padding: 0;
		width: 100%;
	}

	.topJobWrap{
		width: 100%;
		padding: 16px;
	}

	.newJob .topJobWrap h1{
        color: #5e8796;
		margin-bottom: 5px;
		font-size: 16px;
	}

    .attentionJob .topJobWrap h1{
        color: #D46363;
		margin-bottom: 5px;
		font-size: 16px;
	}

	.topJobWrap .topJobInr{
		padding: 16px 8px;
		height: auto;
	}

	.topJobInr h2{
		margin-top: 4px;
	}

	.topJobWrap ul{
		background: #fff;
		border-radius: 8px 8px 0px 0px;
	}

	.topJobWrap li{
		width: 100%;
		padding: 0 0 15px;
		background-color: transparent;
		border-radius: 0;
		border-bottom: 1px dotted #ccc;
	}

	.topJobWrap li:last-child{
		border-bottom: 0;
	}

	.topJobInr img{ display: none; }

	.topJobInr .location{
		float: left;
		display: inline;
        font-weight: 500;
	}

	.topJobInr .remuneration {
		float: right;
		display: inline;
		clear: inherit;
        font-weight: 500;
	}

	.topJobInr .update{
		bottom: 3px;
		right: 8px;
	}

	.newJob p,
	.attentionJob p{
		float: right;
	}

    .newItemListLink{
        background: #5e8796;
        text-align: center;
        border-radius: 0px 0px 8px 8px;
    }

    .newItemListLink a{
        line-height: 50px;
        color: #fff;
        font-size: 14px;
    }

    .wantedItemListLink{
        background: #D46363;
        text-align: center;
        border-radius: 0px 0px 8px 8px;
    }

    .wantedItemListLink a{
        line-height: 50px;
        color: #fff;
        font-size: 14px;
    }

    .pickupCat{
        padding: 0;
    }

	.pickupCat li{
		width: 100%;
	}

    .categorySearchInr{
        width: 100%;
        float: none;
    }

    .categorySearchContent{
        /*padding-left: 16px; */
    }

    .categorySearch .categorySearchInr h1{
        font-size: 16px;
        margin-bottom: 0px;
    }

    .categorySearch .categorySearchInr h1:before{
        content: " ";
        background: url(../images/h1search-sp.png)no-repeat;
        width: 20px;
        height: 20px;
        background-size: 14px 14px;
        background-position: 0 6px;
        display: inline-block;
    }

    .categorySearch .categorySearchInr .parentCategory{
        color: #5e8796;
        font-size: 15px;
        line-height: 45px;
        border-bottom: 1px solid #5e8796;
        background: #E7EFF3;
        padding-left: 16px;
        padding-right: 16px;

    }

    .categorySearch .categorySearchInr .childCategory{
        color: #333;
        font-size: 15px;
        line-height: 45px;
        border-bottom: 1px dotted #5e8796;
        opacity: 1.0;
        margin-top: 0px;
        padding-left: 16px;
        padding-right: 16px;
    }


    .categorySearch .categorySearchInr .parentCategory:before{
        content: "";
    }

    .categorySearch .categorySearchInr .childCategory span{
        color: #5e8796;
        font-weight: bold;
        margin: 0;
    }

    .sideInfo{
        clear: both;
    }

    .sideInfoInr{
        width: 100%;
        float: left;
        padding: 0 5%;
        margin-top: 20px;
    }

    .sideInfo .sideInfoInr .sideInfoImgBnr{
        width: 45%;
        margin: 10px 2.5% 0px 2.5%;
    }

    .sideInfo .sideInfoInr .sideInfoCstmBnr{
        box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.3);
    }

    .sideInfo .sideInfoInr .sideInfoCstmBnrMWrd{
        font-size: 15px;
    }

    .sideInfoCstmBnrMWrd span{
        font-weight: bold;
        padding-right: 10px;
    }

    .sideInfoInr .hoge{
        margin: 0 auto;
    }

    .sideInfoInr p{
        display: inline-block;
        font-size: 14px;
        width: 80%;
        text-align: center;
        color: #fff;
        background: #E38585;
        border-radius: 32px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .sideInfoInr span{
        font-weight: bold;
        padding-right: 10px;
    }



     .keyWordSearchForm{
        width: 80%;
		letter-spacing: -1em; /* inline-blockの隙間対策 */
    }
    .keyWordSearchForm{
    }

    .keyWordSearchSearchBtn{
        width: 20%;
        line-height: 30px;
        font-size: 17px;
        border-radius: 5px;
        background: #5e8796;
        color: #fff;
        border-style: none;
        vertical-align: middle;
    }

    .searchBox{
        width: 85%;
        margin-top: 20px;
        letter-spacing: normal;
    }

    .searchBtn{
        margin-top: 20px;
        letter-spacing: normal;
    }

}
