@charset "UTF-8";

/*-------------------------------
# common reset
-------------------------------*/
html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,samp,
small,strong,sub,sup,var,
b,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    background:transparent;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}

html{
	font-size: 62.5%; /* 10px */
}

body{
	line-height:1;
	color: #333;
    font-family:Avenir , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    -webkit-text-size-adjust: 100%; /* ブラウザの自動調整を行わない */
}

input{padding:0;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{display:block;}
li{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:''; content:none;}
a{margin:0; padding:0; background:transparent; font-size:100%; vertical-align:baseline;}

table{
    border-collapse:collapse;
    border-spacing:0;
}

input, select{
    vertical-align:middle;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

a{
    color: #333;
    text-decoration: none;
}

a:hover{
	transition: 0.25s;
}

img {
    width: 100%;
}

p{
    font-size: 1.4rem;
    line-height: normal;
}

/*-------------------------------
## ご利用の流れ
-------------------------------*/
.wrap{
    width:100%;
    max-width: 1000px;
    margin:0 auto;
}

.content_{ margin-top: 5%; }

.content-left{
    width: 75%;
    float: left;
}

.content-right{
    width: 25%;
    float: left;
}

.content_ h1{ font-size: 2.5rem; }
.content_ h2{ font-size: 2rem; }
.content_ h3{ font-size: 1.5rem; }
.content_ h4{ font-size: 1.2rem; }

.content-left p.detail{
    font-size: 1.6rem;
    color: #5e8796;
    padding-top: 20px;
}


.flowImages{ padding-top: 6%; }

.flowImage{
    width: 12.5%;
    float: left;
}
.flowImage li{ text-align:center }
.flowImage img{ width: 90%; }

.flowWords{
    width: 100%;
    display: table;
    margin-top: 4%;
}
.flowWords li{
    display: table-cell;
    padding: 2.5%;
    vertical-align: middle;
}

.flowWordTitle{
    background: #5e8796;
    width: 20%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.flowWordTitle h2{
    color: #fff;
    text-align: center;
    padding: 4px 0px;
}

.flowWordDetail{
    border: 1px solid #5e8796;
    width: 80%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.color-01{ color: #5e8796; }

/*-------------------------------
## Q&A
-------------------------------*/
#question{ margin: 0 4%; }

.subTitle{
    margin-top: 4%;
    color: #5e8796;
}

.questionElement{
    display: table;
    width: 100%;
    margin-top: 2%;
}

#question .qaMark{
    display: table-cell;
    width: 35px; /* 理論上の最大値 */
    font-size: 1.5rem;
    color: #fff;
    font-family: Verdana;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.questionMark{ background: #5e8796; }
.anserMark{ background: #E38585; }

.questionText{
    display: table-cell;
    width: 90%;
    font-size: 1.4rem;
    vertical-align: middle;
}

.questionText::before{
    content: "\a0\a0";
}

.questionOpen{
    display: table-cell;
    color: #5e8796;
    width: 5%;
    font-size: 2rem;
    text-align: center;;
    vertical-align: middle;
}

.anserElement{
    display: table;
    width: 100%;
    margin-top: 2%;
}



.anserText{
    display: table-cell;
    width: 90%;
    font-size: 1.4rem;
    vertical-align: middle;
    padding: 1%;
}

#question .url{
    color: #E38585;
    text-decoration: underline;
    text-decoration-style: dotted;
}

#question .partitionLine{
    border: 1px dashed #333;
    opacity: 0.4;
    margin-top: 2%;
}

.clickText:hover{
    color: #5e8796;
    opacity: 0.6;
}

/*-------------------------------
## プライバシーポリシー, 利用規約
-------------------------------*/
.privacyPolicy,
.terms{
    width: 95%;
    margin: 0 auto;
}

.privacyPolicyInr{
    width: 95%;
    margin: 0 auto;
}

#privacyPolicy .contentTitle{
    width: 95%;
    margin: 0 auto;
    padding-top: 4%;
}

#privacyPolicy .block,
#terms .block{
    margin-top: 1.5%;
}

#privacyPolicy .text,
#terms .text{
    padding: 0.5% 1rem 0;
}

/*-------------------------------
## エンジニアルートとは
-------------------------------*/
.aboutERouteInr{
    width: 95%;
    margin: 0 auto;
}

#aboutERoute img{
    padding-top: 2%;
}

#aboutERoute p{
    padding-top: 2.5%;
    line-height: 3rem;
}


/*-------------------------------
## サイドバー
-------------------------------*/
.sideInfo{ width: 100%; }
.sideInfo ul{ margin-left: 5%; }
.sideInfo li{ margin-bottom: 5%; }

li.customBanner{
    background: #E38585;
    border-radius: 7px;
    box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.6);
    text-align: center;
    margin-bottom: 10%;
}

.customBanner h2{
    color: #fff;
    padding: 4% 0;
}

.customBanner p{
    font-size: 1.1rem;
    color: #fff;
    padding-bottom: 1rem;
}

/*-------------------------------
# common
-------------------------------*/

.fs0{ font-size: 0; }

.bg{ background: url(../images/absurdidad.png)repeat; }

.alignleft{
	float: left;
	display: inline-block;
}

.alignright{
	float: right;
	display: inline-block;
}

.alignCenter {
    text-align: -webkit-center;
    text-align: -moz-center;
}

.tAlignRight{
    text-align: right;
}

.clear{ clear: both; }

.table{ display: table; }
.table-row{ display: table-row; }
.table-cell{ display: table-cell; }

.partitionLine_01{
    border: 0;
    border-top: 1px dashed #333;
    margin-top: 1.5%;
}
.partitionLine_02 {
    border: 2px solid #5e8796;
    margin-top: 8px;
}

/*-------------------------------
# ヘッダー
-------------------------------*/
.headerInr{
	width: 95%;
    max-width: 1000px;
	margin: 0 auto;
	height: 100px;
	position: relative;
}

.headerInr p{
	line-height: 3.2rem;
	font-size: 1.3rem;
}

.headerInr h1{ width: 100%; }

.headerInr h1 a{
	background: url(../images/logo.png)no-repeat;
	background-size: 276px 68px;
	display: block;
	height: 68px;
}

/* 新規登録、ログイン*/
.user{
	position: absolute;
	top: 0;
	right: 0;
}

.user li{
	display: inline-block;
	background: #333;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.6);
}

.user li:hover{
    background: #4c616a;
    transition: 0.25s;
}

.user li a{
	color: #fff;
	line-height: 3.2rem;
	padding: 0 2.5rem;
	font-size: 1.4rem;
}

/* キーワード検索 */
.search{
	position: absolute;
	right: 0;
	bottom: 12px;
}

.searchBox{
	border: #5e8796 1px solid;
	border-radius: 8px;
	padding: 8px;
	margin-right: 4px;
}

.searchBtn{
	background: url(../images/search.png)no-repeat;
	background-size: 26px 26px;
	width: 26px;
	height: 26px;
	text-indent: 100%;
	cursor: pointer;
	border: none;
}

/* nav */
nav{ width: 100%; background: #5e8796; }

nav ul{
    max-width: 1000px;
	margin: 0 auto;
	font-size: 0px; /* 隙間対策 */
    text-align: center;
}

nav li{
    text-align: center;
    width:16.6%;
	display: inline-block;
    vertical-align: middle;
}

nav li a{
	color: #fff;
	font-size: 1.4rem;
	line-height: 4.8rem;
	padding: 1rem;
}

nav li a:hover{ color: #4c616a; }

nav ul .active{ background: #536C75; }

/*-------------------------------
# page
-------------------------------*/
.wrapper {
	margin:0 auto;
}
.main {
	width:100%;
}
.content {
}

.contentInr{
	width: 95%;
    max-width: 1000px;
	margin: 0 auto;
	padding: 24px 0 40px;
}

.contentInr h1{
	font-size: 20px;
	margin-bottom: 24px;

}

.contentInr h1:before{
	content: " ";
	background: url(../images/h1search.png)no-repeat;
	width: 20px;
	height: 20px;
	background-size: 16px 16px;
	background-position: 0 4px;
	display: inline-block;
}


/*-------------------------------
## top
-------------------------------*/
/* -- slider -- */
.sliderWrap{
}

/*左右の矢印の色を変える*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}
/*左右の矢印の位置を変える*/
.slick-next {
    right: 20px;
    z-index: 99;
}
.slick-prev {
  left: 15px;
    z-index: 100;
}
/*スライド数のドットの色を変える*/
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #fff;
}

/* -- 新着案件・急募案件 -- */
/* common */

.topItemList{
    margin: 0 auto;
}

.topJobWrap{
    max-width: 1000px;
    margin: 0 auto;
	padding: 32px  12px;
}

.topJobWrap h1{
	font-size: 20px;
	margin-bottom: 16px;
}

.topJobWrap li{
	width: 25%;
	display: inline-block;
	font-size: 14px;
	padding: 8px;
	vertical-align: top;
	position: relative;
}

.topJobWrap .topJobInr{
    height: auto;
	background: #fff;
	border-radius: 8px;
	padding: 16px;
}

.topJobInr img{
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 8px;
	margin-bottom: 16px;
}

.topJobInr h2{
	font-size: 14px;
	line-height: 1.2;
	margin-bottom: 16px;
	margin-top: 5px;
}

.topJobInr .location,
.topJobInr .remuneration{
	clear: both;
    font-size: 13px;
	font-weight: bold;
	margin-bottom: 8px;
}

.topJobInr .update{
	color: #7F7F7F;
	font-size: 13px;
	position: absolute;
	bottom:16px;
	right: 16px;
}

.topJobWrap p a:hover{
	text-decoration: underline;
}

.topJobWrap p a:before{
	display: inline-block;
	width: 6px;
	height: 6px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	content: "";
	margin-right: 6px;
	margin-bottom: 1px;
}

/* 新着 */
.newJob{
	width: 100%;
	background: #E7EFF3;
}

.newJob p a,
.newJob .location{
	color: #5e8796;
    font-size: 13px;
}

.newJob .topJobWrap p a:before{
	border-top: 2px solid #5e8796;
	border-right: 2px solid #5e8796;
}


/* 急募 */
.attentionJob{
	background: #F8F3F0;
}

.attentionJob p a,
.attentionJob .location{
	color: #D46363;
}

.attentionJob .topJobWrap p a:before{
	border-top: 2px solid #D46363;
	border-right: 2px solid #D46363;
}

/* 特集 */
.pickupCat li{
	display: inline-block;
	width: 33.3%;
	text-align: center;
	line-height: 32px;
	padding: 8px;
}

.pickupCat li a{
	display: block;
	border-radius: 32px;
	font-size: 16px;
	font-weight: bold;
	line-height: 48px;
	box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.3);
	background-size: 32px 64px;
}

.pickupCat li a:before{
	width: 32px;
	height: 32px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 5px;
	margin-right: 8px;
	content: "";
}

.pickupCat li img{
	width: 32px;
	height: 64px;
	margin-right: 8px;
}

.pucat01 a{
	border: 3px solid #89A1BE;
	color: #89a1be;
}

.pucat01 a:before{
	background: url(../images/ico-pickup01.png)no-repeat;
	background-size: 32px 64px;
}

.pucat01 a:hover{
	background: #89a1be;
	color: #fff;
}

.pucat02 a{
	border: 3px solid #9B9B9B;
	color: #9b9b9b;
}

.pucat02 a:before{
	background: url(../images/ico-pickup02.png)no-repeat;
	background-size: 32px 64px;
}

.pucat02 a:hover{
	background: #9B9B9B;
	color: #fff;
}

.pucat03 a{
	border: 3px solid #D9BF21;
	color: #D9BF21;
}

.pucat03 a:before{
	background: url(../images/ico-pickup03.png)no-repeat;
	background-size: 32px 64px;
}

.pucat03 a:hover{
	background: #D9BF21;
	color: #fff;
}

.pucat04 a{
	border: 3px solid #88BA4E;
	color: #88BA4E;
}

.pucat04 a:before{
	background: url(../images/ico-pickup04.png)no-repeat;
	background-size: 32px 64px;
}

.pucat04 a:hover{
	background: #88BA4E;
	color: #fff;
}

.pucat05 a{
	border: 3px solid #E38585;
	color: #e38585;
}

.pucat05 a:before{
	background: url(../images/ico-pickup05.png)no-repeat;
	background-size: 32px 64px;
}

.pucat05 a:hover{
	background: #E38585;
	color: #fff;
}

.pucat01 a:hover:before,
.pucat02 a:hover:before,
.pucat03 a:hover:before,
.pucat04 a:hover:before,
.pucat05 a:hover:before{
	background-position: 0 -32px;
	transition: 0.25s;
}

/* 条件 */
.conditions{
	background: url(../images/absurdidad.png);
	overflow: auto;
}

.conditions .contentInr{
    width: 95%;
    margin: 0 auto;
    padding: 24px 0 40px;
}

.tabWrap{
    width: 100%;
}

.tabMenu {
    margin:0;
    width:13.6%;
    padding:0;
    float:left;
	}

.tabMenu ul li {
	width: 100%;
	padding: 16px 0;
	display: block;
	text-align: center;
	cursor: pointer;
	background: #5E8796;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	color: #fff;
	margin-bottom: 2px;
	border: 1px solid #EBEBEB;
	border-right: 0;
	}

.tabMenu li:hover{
	opacity: 0.6;
	transition: 0.3s;
}

.tabMenu .navhit{
	background:#fff;
	color: #5e8796;
	}

.tabBox{
    width:59.2%;
    float:left;
	}

.tabBox .tabBoxInr{
	border: 1px solid #EBEBEB;
	padding: 24px;
	background: #fff;
	border-left: 0;
	min-height: 320px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.tabBox .tabBoxInr .attention{
	color: #5e8796;
	font-weight: bold;
	font-size: 15px;
}

.tabBox .tabBoxInr .attention span{
	text-align: right;
	font-weight: normal;
	color: #666;
	display: inline-block;
	float: right;
	font-size: 12px;
	vertical-align: top;
}

/* y.suzuki start */
/* 条件から案件を探す start */
.tabContentElementOneThird{
	display: inline-block;
	width: 32%;
	text-align: left;
	padding: 3px;
	margin: 0px;
}
.tabContentElementHalf{
	display: inline-block;
	width: 40%;
	text-align: left;
	padding: 3px;
	margin: 0px;
}


.tabSelected{
	width:27.2%;
	padding-left: 22px;
	float:left;
}

.tabSelectedInr{
	border: 1px solid #EBEBEB;
	padding: 24px;
	background: #fff;
	min-height: 320px;
	border-radius: 8px;
}

.tabSelected .tabSelectedInr p.attention{
	color: #5e8796;
	font-weight: 650; /* boldよりちょい細め */
	font-size: 15px;
	padding-bottom: 10px;
}

.tabSelected .tabSelectedInr .tagSelectedName{
	color: #5e8796;
    font-size: 12px;
	font-weight: 300;
	padding: 3px;
	padding-bottom: 5px;
}

.tabSelected .tabSelectedInr .partitionLine{
	border-top: 1px dashed;
	margin-top: 7px;
	margin-bottom: 10px;
}

.tabSelected .tabSelectedInr li{
	font-size: 12px;
	font-weight: 300;
	padding: 3px;
	padding-bottom: 5px;
}

.tabSelected .tabSelectedInr li span{
	text-align: center;
	color: #fff;
	background: #5e8796;
	font-size: 12px;
	width: 12px;
	float: right;
	border-radius: 2px;
	cursor: pointer;
}

#tagSelectedSkill{display: none;}
#tagSelectedSysType{display: none;}
#tagSelectedRate{display: none;}
#tagSelectedBizCategory{display: none;}
#tagSelectedArea{display: none;}
#tagSelectedPosition{display: none;}

/* 検索ボタン start */
.centerBtn{
	text-align: center;
}

.centerBtn button{
	margin: 20px auto 40px;
	width: 33.3%;
	border-radius: 32px;
	background: #5e8796;
	color: #fff;
	line-height: 30px;
	border-style: none;
	font-size: 13px

}
/* 検索ボタン end */
/* 条件から案件を探す end */

/* カテゴリーから案件を探す */

.categorySearch{
}

.categorySearchInr{
	width: 72.8%;
	margin: 0 auto;
	float: left;
}

.categorySearch .categorySearchInr h1{
	font-size: 20px;
	margin-bottom: 24px;
}

.categorySearch .categorySearchInr h1:before{
	content: " ";
	background: url(../images/h1search.png)no-repeat;
	width: 20px;
	height: 20px;
	background-size: 16px 16px;
	background-position: 0 4px;
	display: inline-block;
}

.categorySearch .categorySearchInr .parentCategory{
	font-size: 15px;
	line-height: normal;
	font-weight: bold;
}

.categorySearch .categorySearchInr .parentCategory:before{
	content: "\a0"; /* 16進数の半角スペース */
	background: #5e8796;
	font-weight: bold;
	display: inline-block;
}

.categorySearch .categorySearchInr .childCategory{
	margin-top: 5px;
	opacity: 0.8;
}

.categorySearch .categorySearchInr .childCategory a{
	font-size: 13px;
}

.categorySearch .categorySearchInr .childCategory span{
	margin-right: 10px;
	margin-left: 10px;
}

.categorySearch .categorySearchInr .categoryPartitionLine{
	border-top: 1px dashed #5e8796;
	margin-top: 7px;
	margin-bottom: 10px;
}

/* side info start */

.sideInfoInr{
	width: 27.2%;
	padding-left: 22px;
	float: right;
}

.sideInfoInr p{
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #E38585;
    line-height: 30px;
    border-radius: 7px;
    box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.6);
}

.sideInfoInr p span.cstmBnrSubWord{
    font-size: 11px;
    font-weight: lighter;
}

.sideInfo .sideInfoInr .sideInfoCstmBnr{
	width: 100%;
	border-radius: 7px;
	background: #E38585;
	line-height: 30px;
	margin-bottom: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
    box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.6);
}

.sideInfo .sideInfoInr .sideInfoCstmBnr a{
	color: #fff;
}

.sideInfo .sideInfoInr .sideInfoCstmBnrMWrd{
	text-align: center;
	font-size: 21px;
}

.sideInfo .sideInfoInr .sideInfoCstmBnrSWrd{
	text-align: center;
	font-size: 11px;
}

.sideInfo .sideInfoInr .sideInfoImgBnr{
	margin-top: 10px;
}
/* side info end */

/* keyword search start */
.keyWordSearchForm {
	width: 72.8%;
}

.keyWordSearchInputForm {
	width: 79%;
	line-height: 30px;
	font-size: 14px;
	border: 2px solid #5e8796;
	border-radius: 5px;
	vertical-align: middle;
}

.keyWordSearchSearchBtn {
	width: 20%;
	line-height: 30px;
	font-size: 17px;
	border-radius: 5px;
	background: #5e8796;
	color: #fff;
	border-style: none;
	vertical-align: middle;
}

/* keyword search end */
/* y.suzuki end */

/*-------------------------------
# footer
-------------------------------*/
footer{
    margin-top: 100px;
	text-align: center;
}

footer li{
	display: inline-block;
	padding: 40px 32px;
}

footer li a{
	color: #536c75;
}

footer li a:hover{
	color: #ccc;
}

footer p{
	background: #5E8796;
	color: #fff;
	padding: 16px 0;
	font-size: 12px;
}

/*===============================
pc.css 1025px~
===============================*/
@media screen and (min-width: 1025px) {

    html{
        font-size: 62.5%; /* 10px */
    }
    /*  invisible element */
    .invisible-pc{ display: none; }
}

/*===============================
tablet.css 641px~1024px
===============================*/
@media screen and (max-width: 1024px) {

    /*-------------------------------
	# common
    -------------------------------*/
    @media screen and (min-width: 641px) {
        /*  invisible element */
        .invisible-tab{ display: none; }
    }

    html{
        /* base font-size(9px) */
        font-size: 56.25%;
    }

    .wrap{
        width:95%;
        margin:0 auto;
    }

	/* nav inline-blockからflexBoxに変更 */
	nav ul{
        width: 95%;
        display: flex;
    }
    nav li{
        min-height: 4.8rem;
        display: flex;
        justify-content: center;
    }
	nav li a{
        line-height: 2.4rem;
    }

	/*-------------------------------
	# page
	-------------------------------*/
	.contentInr{
		width: 95%;
        margin: 0 auto;
	}

	/*-------------------------------
	## top
	-------------------------------*/
	/* 新着・急募*/
	.newJob,
	.attentionJob{
		padding: 0;
	}

	.topJobWrap{
		width: 100%;
		padding: 16px;
	}

	.topJobWrap h1{
		margin-bottom: 8px;
        font-size: 16px
	}

	.topJobWrap .topJobInr{
		padding: 16px 8px;
        width: auto;
	}

	.topJobWrap .update{

	}

	.topJobInr h2{
		font-size: 13px;
	}

	/* 条件から検索 */
	.tabWrap{
		width: 100%;
	}

    .tabMenu {
        width:20%;
    }

    .tabBox{
        width:80%;
        float:left;
    }

	.tabSelected{
		width: 80%;
		padding: 0px;
		padding-top: 10px;
		margin-left: 20%;
	}
	.tabSelectedInr{
		min-height: 0px;
	}

	/* カテゴリーから案件を探す */
	.categorySearchInr{
	}

	/* サイドバー width: 728px; */
	.sideInfo{

	}
	.sideInfoInr{
		width: 27.2%;
		float: right;
        padding-left: 5px;
	}
	.sideInfo .sideInfoInr .sideInfoCstmBnr{
		border-radius: 7px;
		background: #E38585;
		line-height: 30px;
		margin: 15px 2px 0px;
		float: left;
        height: 70px;
        padding-top: 10px;
	}

	.sideInfo .sideInfoInr .sideInfoCstmBnr a{
		color: #fff;
	}

	.sideInfo .sideInfoInr .sideInfoCstmBnrMWrd{
		text-align: center;
		font-size: 21px;
	}

	.sideInfo .sideInfoInr .sideInfoCstmBnrSWrd{
		text-align: center;
		font-size: 11px;
	}

	.sideInfo .sideInfoInr .sideInfoImgBnr{
		width: 100%;
		margin-top: 10px;
		float: left;
		margin: 15px 2px 0px;
	}
}

/*===============================
sp.css ~640px
===============================*/
@media screen and (max-width:640px){

    /*-------------------------------
	# common
	-------------------------------*/
    html{
        /* base font-size(8px) */
        font-size: 50%;
    }
    .invisible-sp{ display: none; }
    .content_{ margin: 10% 5% 5% 5%; }

    /* navi */
    .nav-mobile {
    	display:none; /* Hide from browsers that don't support media queries */
    	cursor:pointer;
    	position:absolute;
    	top:12px;
    	right:8px;
    	background:url(../images/navOpen.png) no-repeat center center;
    	height:24px;
    	width:24px;
    	background-size: 24px 24px;
    }

    /*-------------------------------
    ## ご利用の流れ
    -------------------------------*/
    .content-left{ width: 100%; }

    .content-right{
        width: 100%;
        float: left;
    }

    .flowImage{ width: 25%; }
    .flowImage ul{ margin-top: 10%; }
    .flowImage li h4{ padding: 10% 0%; }

    .flowWords ul{ display: block; }
    .flowWords li{
        display: block;
        line-height: normal;
    }

    .flowWordTitle{
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }

    .flowWordTitle h2{ display: inline; }

    .flowWordTitle h2:nth-child(2):before {
        content: "\a0\a0\a0"
    }

    .flowWordDetail{
        width: 100%;
        border-radius: 0px 0px 10px 10px;
    }

    /*-------------------------------
    ##　Q&A
    -------------------------------*/

    .subTitle{ margin-top: 7%; }
    .questionElement{ margin-top: 3%; }
    #question .partitionLine{ margin-top:3%; }

    /*-------------------------------
    ## サイドバー
    -------------------------------*/
    .sideInfo{ margin-top: 15%; }
    .sideInfo ul{ margin-left: 0; }
    .sideInfo li{
        width: 48%;
        float: left;
        margin: 1%;
    }










	/*-------------------------------
	# header
	-------------------------------*/
	header{
		height: 48px;
	}

	.headerInr p{
		display: none;
	}

	.headerInr{
		padding: 0 16px;
		height: 48px;
	}

	.headerInr h1{
		margin-top: 8px;
		width: 100%;
	}

	.headerInr h1 a {
		background-size: 160px;
		height: 46px;
	}

	/* user */
	.user{
		top: 8px;
		right: 48px;
	}

	.user li{
		background: #5e8796;
		border-radius: 8px;
		box-shadow: none;
	}

	/* search */
	.headerInr .signin,
	.search{
		display: none;
	}

	/* nav */
	.nav-item a{
		display: block;
	}

	nav{
		height: auto;
		width:100%;
	}

	nav ul{
		width: 100%;
		margin: 0 auto;
		font-size: 0px;
	}

	nav li a{
		padding: 0 24px;
	}

	nav li .active{
		background: #536C75;
		display: block;
	}

	.nav-mobile {
		display:block;
	}

	.nav-list {
		display:none;
	}

	.nav-item {
		width:100%;
		float:none;
	}

	.nav-item a {
		background:#5e8796;
		padding:0;
		border-bottom: 1px solid #fff;
	}

	.nav-item:last-child a{
		border-bottom: 0;
	}

	.nav-active {
		display:block;
	}

	.nav-mobile-open {
		background: url(../images/navClose.png)center no-repeat;
		background-size: 20px;
	}

	/*-------------------------------
	# footer
	-------------------------------*/

    .bg{ background: #5E8796; }

    footer{ margin-top: 0; }

	footer ul{
		letter-spacing: -1em; /* inline-blockの隙間対策 */
	}

	footer li{
		width: 50%;
		padding: 16px 8px;
		font-size: 13px;
		border-right: #9eb7c0 1px solid;
        border-bottom: #9eb7c0 1px solid;
        letter-spacing: normal;
	}

	footer li:nth-child(even){ border-right: 0; }

	footer li a{ color: #fff; }

	footer li a:hover{ color: #ccc; }

	footer p{
		color: #fff;
		padding: 16px 0;
		font-size: 12px;
	}

	/*-------------------------------
	# page
	-------------------------------*/

	.contentInr{
        width: 100%;
		padding: 0 0 32px;
	}

	.contentInr h1{
		background: #5e8796;
		color: #fff;
		font-size: 16px;
		line-height: 48px;
		margin-bottom: 16px;
		padding-left: 16px;
	}

	.contentInr h1:before{
		content: " ";
		background: url(../images/h1search-sp.png)no-repeat;
		width: 20px;
		height: 20px;
		background-size: 14px 14px;
		background-position: 0 6px;
		display: inline-block;
	}

	/* 新着・急募*/
	.newJob,
	.attentionJob{
		padding: 0;
		width: 100%;
	}

	.topJobWrap{
		width: 100%;
		padding: 16px;
	}

	.newJob .topJobWrap h1{
        color: #5e8796;
		margin-bottom: 5px;
		font-size: 16px;
	}

    .attentionJob .topJobWrap h1{
        color: #D46363;
		margin-bottom: 5px;
		font-size: 16px;
	}

	.topJobWrap .topJobInr{
		padding: 16px 8px;
		height: auto;
	}

	.topJobInr h2{
		margin-top: 4px;
	}

	.topJobWrap ul{
		background: #fff;
		border-radius: 8px 8px 0px 0px;
	}

	.topJobWrap li{
		width: 100%;
		padding: 0 0 15px;
		background-color: transparent;
		border-radius: 0;
		border-bottom: 1px dotted #ccc;
	}

	.topJobWrap li:last-child{
		border-bottom: 0;
	}

	.topJobInr img{ display: none; }

	.topJobInr .location{
		float: left;
		display: inline;
        font-weight: 500;
	}

	.topJobInr .remuneration {
		float: right;
		display: inline;
		clear: inherit;
        font-weight: 500;
	}

	.topJobInr .update{
		bottom: 3px;
		right: 8px;
	}

	.newJob p,
	.attentionJob p{
		float: right;
	}

    .newItemListLink{
        background: #5e8796;
        text-align: center;
        border-radius: 0px 0px 8px 8px;
    }

    .newItemListLink a{
        line-height: 50px;
        color: #fff;
        font-size: 14px;
    }

    .wantedItemListLink{
        background: #D46363;
        text-align: center;
        border-radius: 0px 0px 8px 8px;
    }

    .wantedItemListLink a{
        line-height: 50px;
        color: #fff;
        font-size: 14px;
    }

	.pickupCat li{
		width: 100%;
	}

    .categorySearchInr{
        width: 100%;
        float: none;
    }

    .categorySearchContent{
        /*padding-left: 16px; */
    }

    .categorySearch .categorySearchInr h1{
        font-size: 16px;
        margin-bottom: 0px;
    }

    .categorySearch .categorySearchInr h1:before{
        content: " ";
        background: url(../images/h1search-sp.png)no-repeat;
        width: 20px;
        height: 20px;
        background-size: 14px 14px;
        background-position: 0 6px;
        display: inline-block;
    }

    .categorySearch .categorySearchInr .parentCategory{
        color: #5e8796;
        font-size: 15px;
        line-height: 45px;
        border-bottom: 1px solid #5e8796;
        background: #E7EFF3;
        padding-left: 16px;
        padding-right: 16px;

    }

    .categorySearch .categorySearchInr .childCategory{
        color: #333;
        font-size: 15px;
        line-height: 45px;
        border-bottom: 1px dotted #5e8796;
        opacity: 1.0;
        margin-top: 0px;
        padding-left: 16px;
        padding-right: 16px;
    }


    .categorySearch .categorySearchInr .parentCategory:before{
        content: "";
    }

    .categorySearch .categorySearchInr .childCategory span{
        color: #5e8796;
        font-weight: bold;
        margin: 0;
    }

    .sideInfo{
        clear: both;
    }

    .sideInfoInr{
        width: 100%;
        float: left;
        padding: 0 5%;
        margin-top: 20px;
    }

    .sideInfo .sideInfoInr .sideInfoImgBnr{
        width: 45%;
        margin: 10px 2.5% 0px 2.5%;
    }

    .sideInfo .sideInfoInr .sideInfoCstmBnr{
        box-shadow: 0px 4px 8px -3px rgba(0,0,0,0.3);
    }

    .sideInfo .sideInfoInr .sideInfoCstmBnrMWrd{
        font-size: 15px;
    }

    .sideInfoCstmBnrMWrd span{
        font-weight: bold;
        padding-right: 10px;
    }

    .sideInfoInr .hoge{
        margin: 0 auto;
    }

    .sideInfoInr p{
        display: inline-block;
        font-size: 14px;
        width: 80%;
        text-align: center;
        color: #fff;
        background: #E38585;
        border-radius: 32px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .sideInfoInr span{
        font-weight: bold;
        padding-right: 10px;
    }



     .keyWordSearchForm{
        width: 80%;
		letter-spacing: -1em; /* inline-blockの隙間対策 */
    }
    .keyWordSearchForm{
    }

    .keyWordSearchSearchBtn{
        width: 20%;
        line-height: 30px;
        font-size: 17px;
        border-radius: 5px;
        background: #5e8796;
        color: #fff;
        border-style: none;
        vertical-align: middle;
    }

    .searchBox{
        width: 85%;
        margin-top: 20px;
        letter-spacing: normal;
    }

    .searchBtn{
        margin-top: 20px;
        letter-spacing: normal;
    }





}
