@charset "UTF-8";
/*--------------------------------------------------------------
 トップページ
--------------------------------------------------------------*/
#top {
    margin: 0;
}

#top .tabMenu ul li {
    font-size: 1.4rem;
}

#top .contentInr {
    width: 100%;
}

#top .about {
    max-width:1000px;
    margin: 0 auto;
}

/* 最新コラム */
#top .about .contentInr {
    width: 72.8%;
    float: left;
}

#top .about h2 {
    padding: 8px 14px;
    border-left: 6px solid #5e8796;
    border-bottom: 1px solid #5e8796;
    font-size: 1.8rem;
}

#top .about h2::before {
    width: 0px;
    height: 0px;
}

#top .about__text p {
    line-height: 1.9rem;
}

/* こんにちは〜さん */
.hello_user {
    background: url(../images/absurdidad.png)repeat;
}

.hello_user .contentInr {
    padding-bottom: 2.4rem;
}

.hello_user p a {
    color: #D46363;
    text-decoration: underline;
}

/* アピールポイント */
.about .appeal-point {
    margin: 0 0 0 0;
}

.appeal-point h3 {
    font-size: 1.6rem;
    color: #5e8796;
    padding: 1.3rem 0;
}

.about .appeal-point p {
    padding: 0 0 1.4rem 0;
    line-height: 1.9rem;
    font-size: 1.2rem;
}

.appeal-point h3.underline {
    text-decoration: underline;
}

/*======================================================================
tablet.css 641px~1024px
======================================================================*/
@media screen and (max-width: 1024px) {
    #top .wrap {
        width:100%;
        margin:0 auto;
    }

    /* 新着・急募 */
    .newJob,
    .attentionJob {
        padding: 0;
    }

    .topJobWrap {
        width: 100%;
        padding: 16px;
    }

    .topJobWrap h3 {
        margin-bottom: 8px;
        font-size: 16px
    }

    .topJobWrap .topJobInr {
        padding: 16px 8px;
        width: auto;
    }

    .topJobInr h4 {
        font-size: 13px;
    }

    .spNone { 
        display: none;
    }
}

/*======================================================================
sp.css ~640px
======================================================================*/
@media screen and (max-width:640px) {
    #top {
        width:100%;
        margin:0 auto;
    }

    .contentInr {
        width: 100%;
        padding: 0 0 32px;
    }

    .contentInr h1 {
        background: #5e8796;
        color: #fff;
        font-size: 16px;
        line-height: 48px;
        margin-bottom: 16px;
        padding-left: 16px;
    }

    .contentInr h1:before {
        content: " ";
        background: url(../images/h1search-sp.png)no-repeat;
        width: 20px;
        height: 20px;
        background-size: 14px 14px;
        background-position: 0 6px;
        display: inline-block;
    }

    .contentInr h2 {
        background: #5e8796;
        color: #fff;
        font-size: 16px;
        line-height: 48px;
        margin-bottom: 16px;
        padding-left: 16px;
    }

    .contentInr h2:before {
        content: " ";
        background: url(../images/h1search-sp.png)no-repeat;
        width: 20px;
        height: 20px;
        background-size: 14px 14px;
        background-position: 0 6px;
        display: inline-block;
    }

    /* 最新コラム */
    #top .about .contentInr {
        width: 100%;
        padding: 0px 0px 32px;
        margin: 2rem 0 0 0;
    }

    #top .about h2 {
        background: none;
        color: black;
        line-height: 1;
        padding: 8px 10px;
    }

    #top .about .about__text {
        padding: 0px 2.5%;
    }

    #top .about .appeal-point {
        padding: 0px 2.5%;
    }

    /* こんにちは〜さん */
    .hello_user .contentInr {
        padding: 2.4rem 1rem;
    }
}












