@charset "utf-8";

@import url("../../common/reset.css");
@import url("../../layout/panel.css");

em {
	color: #FF0000;
}

#subMenu {
	background-color: #463f35;
	list-style: none;
	padding-top: 10px;
	padding-left: 25px;
	overflow: hidden;
}

#subMenu li {
	width: 120px;
	padding: 5px 0;
	text-align: center;
	display: block;
	float: left;
}

#subMenu li.selected {
	background-color: #362E23;
	position: relative;
	font-weight: bold;
}

.errorMsg
{
	padding: 10px 20px;
	margin: 5px 0;
	font-weight: bold;
	color: #FF0000;
	border: 1px solid #990000;
}

.normalMsg
{
	padding: 10px 20px;
	margin: 5px 0;
	font-weight: bold;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
}

.listMenu {
	padding: 3px 5px;
	margin: 0 auto;
	overflow: auto;
}

.listMenu .leftItem {
	margin-righ:t 5px;
	overflow: visible;
	float: left;
	display: block;
}

.listMenu .rightItem {
	margin-left: 5px;
	overflow: visible;
	float: right;
	display: block;
}

#dataList {
	width: 100%;
	margin: 0 auto;
	border: 1px solid #362E23;
}

#dataList caption {
	padding: 5px;
}

#dataList th {
	background-color: #272119;
	border-left: 1px solid #4d463d;
	border-right: 1px solid #4d463d;
	text-align: center;
	padding: 5px;
}

#dataList td {
	border-left: 1px solid #272119;
	border-right: 1px solid #272119;
	border-bottom: 1px solid #362E23;
	background-color: #463f35;
	padding: 5px;
}

#dataList td.radioCell {
	text-align: center;
	width: 30px;
}

#dataList td.centerCell {
	text-align: center;
}

#dataList td.rightCell {
	text-align: right;
}

#dataList td.cell100px {
	width: 100px;
}

#dataList td.cell150px {
	width: 150px;
}

#dataList td.cell200px {
	width: 200px;
}

#dataList td.cell250px {
	width: 250px;
}

#dataList .mailCell {
	width: 250px;
	word-wrap: break-word;
}

#detailTable caption {
	padding: 5px;
}

#detailTable {
	width: 100%;
	margin: 0 auto 15px auto;
}

#detailTable th {
	background-color: #272119;
	white-space: nowrap;
	text-indent: 10px;
	padding: 5px 0;
	width: 15%;
	border-top: 1px solid #4d463d;
	border-left: 1px solid #4d463d;
}

#detailTable td {
	background-color: #463f35;
	padding: 5px 10px;
	border-top: 1px solid #272119;
}

#detailTable td.submitCell {
	border-top: 1px solid #463f35;
	background-color: #272119 !important;
	text-align: right !important;
}

#detailTable td.elementCell label {
	white-space: nowrap;
	width: 100px;
	float: left;
	display: block;
	line-height: 1em;
}

#detailTable td.element100px label {
	width: 100px !important;
}

#detailTable td.element130px label {
	width: 130px !important;
}

#detailTable td.element140px label {
	width: 140px !important;
}

#detailTable td.element150px label {
	width: 150px !important;
}

#detailTable td.element200px label {
	width: 200px !important;
}

#detailTable td.elementCell .categoryCaption {
	display: block;
	clear: both;
	font-weight: bold;
}

#detailTable td.elementCell .childCategoryBox {
	display: block;
	clear: both;
	padding: 3px;
	border: 1px dashed #362E23;
	overflow: auto;
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#detailTable td .errorMessage {
	padding-left: 15px;
	padding-bottom: 5px;
	color: #FF0000;
}

#detailTable td .mailCell {
	width: 500px;
	word-wrap: break-word;
}

.pager {
	overflow: visible;
	padding: 5px;
}

.pager a {
	border: 1px solid #d65038;
	margin: 3px;
	padding: 2px 4px;
	zoom: 1;
}

.pager em {
	color: #FFFFFF;
	text-decoration: underline;
	font-weight: bold;
	margin: 3px;
	padding: 2px 4px;
	zoom: 1;
}

.pager span {
	color: #EEEEEE;
	margin: 3px;
	padding: 2px 4px;
	zoom: 1;
}

#indexTable {
	width: 100%;
	margin: 0 auto 15px auto;
}

#indexTable th {
	background-color: #272119;
	border-top: 1px solid #4d463d;
	border-left: 1px solid #4d463d;
	padding: 10px 10px;
	width: 30%;
}

#indexTable th a {
	font-weight: bold;
}

#indexTable th em {
	font-weight: bold;
}

#indexTable td {
	background-color: #463f35;
	border-top: 1px solid #272119;
	padding-left: 10px;
}