server {
    listen      80;
    #listen 443 ssl;
    server_name  lh.engineer-route.com;
    root         /var/www/laravel/public;

    ### big header error の対策 ###
    fastcgi_buffers 8 16k;
    fastcgi_buffer_size 32k;
    
    ### メンテナンス設定 ###

    set $maintenance false;
    if (-e /var/tmp/do_maintenance ) {
            set $maintenance true;
    }
    if ($uri ~ "^/maintenance.html") {
        set $maintenance false; # ループ防止
    }
    if ($uri ~ "^/front/images") {
            set $maintenance false;
        }
    if ($remote_addr = 219.98.168.106) {
            #set $maintenance false;
        }
    if ($maintenance = true) {
        rewrite ^ /maintenance.html redirect;
    }

    location / {
        root         /var/www/laravel/public;
        index index.html index.htm index.php;
        try_files $uri $uri/ /index.php?$query_string;
    }
    
    error_page 404 /404.html;
    location = /40x.html {}
    
    error_page 500 502 503 504 /50x.html;
    location = /50x.html {}
    
    # index.php など、通常の.phpでのアクセス。見つからなければ@wordpressロケーションとして飛ばします。
    location ~ \.php$ {
        root           /var/www/laravel/public;
        fastcgi_pass   php:9000;
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include        fastcgi_params;
    }

    location /column/wp-content {
        root   /var/www/laravel/public;
        try_files $uri $uri/ /index.php?$query_string;
    }

    location /column/wp-includes {
        root   /var/www/laravel/public;
        try_files $uri $uri/ /index.php?$query_string;
    }

    location /column/wp-admin {
        fastcgi_index index.php;
        fastcgi_split_path_info ^(.+\.php)(.*)$;
        fastcgi_pass  php:9000;
        fastcgi_param SCRIPT_FILENAME /var/www/laravel/public/column/wp-admin/index.php;
        include       fastcgi_params;
    }

    location /column {
        fastcgi_index index.php;
        fastcgi_split_path_info ^(.+\.php)(.*)$;
        fastcgi_pass  php:9000;
        fastcgi_param SCRIPT_FILENAME /var/www/laravel/public/column/index.php;
        include       fastcgi_params;
    }

    # wordpressのconfigファイルは404を返却する
    # .phpをfastcgiに向けているため、基本何か起こることはない
    location = /column/wp-config.php             { return 404; }
    location = /column/wp-admin/setup-config.php { return 404; }
}