@charset "utf-8";

/* ################################## */
/* ## お問い合わせ                 ## */
/* ################################## */

@import url("../common/reset.css");
@import url("../layout/standard.css");
@import url("../common/component.css");

#ruleCell {
	text-align: center;
	padding: 5px;
}

#ruleArea {
	text-align: left;
	overflow: auto;
	border: 1px solid #5088B1;
	margin: 10px auto;
	width: 95%;
	height: 30em;
}

#guidance-container {
	padding: 0 10px 20px 10px;
}

#contact-thanks {
	font-weight: bold;
	border-bottom: 1px solid #5088B1;
	padding-left: 10px;
}

#contact-notice {
	padding: 10px;
}

#guidance-comment {
	padding: 15px;
}

.guidance-caption {
	font-weight: bold;
	font-size: 120%;
	padding-top: 10px;
	padding-bottom: 5px;
}

#guidance-greeting {
	text-align: center;
	font-weight: bold;
	font-size: 120%;
	padding: 20px;
}

#submit-button-cell {
	text-align: center;
}

#submit-button-cell form {
	display: inline;
}