@charset "utf-8";

/* ################################## */
/* ## ガイド                       ## */
/* ################################## */

@import url("../common/reset.css");
@import url("../layout/standard.css");
@import url("../common/component.css");

/* #---------------------# */
/* # 共通                # */
/* #---------------------# */
#mainBox {
	width: 64%;
	float: left;
	position: relative;
}

#sideBox {
	width: 33%;
	float: right;
	right: 20px;
	position: relative;
}

#searchBoxes {
	margin-top: 30px;
	padding: 5px 0 15px 12px;
	border-left: 1px solid #cdd3dd;
	border-top: 1px solid #cdd3dd;
	border-bottom: 1px solid #cdd3dd;
}

.prcomment {
	padding: 10px 30px;
	text-align: center;
}

#guideTitle {
	margin: 0 10px 10px 10px;
	font-size: 1.6em;
	font-weight: bold;
	padding: 15px 10px;
	border-left: 5px solid #A2CF7E;
	border-right: 5px solid #A2CF7E;
	background-color: #f4f7f2;
}

/* #---------------------# */
/* # フローテーブル      # */
/* #---------------------# */

#flow {
	background: #FFFFFF url(/images/page/guide-flow_bg.gif) repeat-y scroll 15px top;
	border-collapse: collapse;
	width: 92%;
	margin: 10px auto 20px auto;
}

#flow .milestone {
	padding: 7px 80px;
	background: #e7f2de url(/images/page/guide-bullet_arrow.gif) no-repeat scroll 23px center;
	vertical-align: middle;
	text-align: left;
	font-weight: bold;
	font-size: 1.4em;
}

#flow .guidance {
	vertical-align: top;
	text-align: left;
	font-size: 1.0em;
	padding: 10px 0 25px 90px;
}

