@charset "utf-8";

/* ################################## */
/* ## ホームCSS                    ## */
/* ################################## */

@import url("/styles/common/reset.css");
@import url("/styles/layout/standard.css");
@import url("/styles/common/component.css");


/* #---------------------# */
/* # メインボックス      # */
/* #---------------------# */
#mainBox {
	width: 580px;
	left: 10px;
	float: left;
	position: relative;
}

/* #---------------------# */
/* # サイドボックス      # */
/* #---------------------# */
#sideBox {
	width: 300px;
	right: 10px;
	float: right;
	position: relative;
}

#sideBox .contentBox {
	background-color: #eff6fd;
	border-bottom: 1px solid #c6c6c6;
	border-right: 1px solid #c6c6c6;
	padding: 7px;
	margin-top: 5px;
}

#sideBox .helloBox {
	background-color: #fdf6ef;
	border: 1px dashed #c6c6c6;
	padding: 7px;
	margin-top: 5px;
	text-align: center;
	color: #555555;
}

#sideBox .helloBox a:link { color: #db4012; text-decoration: underline; }
#sideBox .helloBox a:visited { color: #db4012; text-decoration: underline; }
#sideBox .helloBox a:hover { color: #db4012; text-decoration: underline; }
#sideBox .helloBox a:active { color: #db4012; text-decoration: underline; }


/* #---------------------# */
/* # センターボックス    # */
/* #---------------------# */
#centerBox {
	clear: both;
	padding: 20px 10px;
}

/* #---------------------# */
/* # 共通                # */
/* #---------------------# */
.commonCaption {
	text-indent: 30px;
	margin: 0 0 10px 0;
	font-size: 1.0em;
	font-weight: bold;
	padding: 0.6em 0;
	border-bottom: 1px dashed #888888;
}

/* #---------------------# */
/* # 新着案件リスト      # */
/* #---------------------# */
#newItems-caption {
	background: url(/images/common/material/bullet-star.gif) no-repeat left center;
}

#newItems-caption a {
	font-size: 0.9em;
	font-weight: normal;
}

#newItems {
	list-style: none;
}

#newItems li {
	display: block;
	background: url(/images/common/material/bullet-triangle_soft.gif) no-repeat 5px center;
	padding-left: 22px;
	padding-right: 5px;
	margin-bottom: 5px;
	text-align: right;
	clear: both;
}

#newItems li a {
	display: block;
	font-weight: bold;
	float: left;
}

#newItems li .area {
	display: block;
	float: left;
	color: #d84060;
	white-space: nowrap;
}

#newItems li .rate {
	color: #777777;
	white-space: nowrap;
}

#newItems li .date {
	color: #000000;
	white-space: nowrap;
}

/* #---------------------# */
/* # キーワード検索      # */
/* #---------------------# */
#keywordSearch-caption {
	background: url(/images/common/material/icon-mag_glass.gif) no-repeat left center;
	margin-top: 20px;
}

/* #---------------------# */
/* # カテゴリ検索        # */
/* #---------------------# */
#categorySearch-caption {
	background: url(/images/common/material/icon-category.gif) no-repeat left center;
	margin-top: 20px;
}

#categorySearch {
	width: 100%;
	border-collapse: separate;
	border-spacing: 2px;
	margin-left: -2px;
}

#categorySearch td {
	border: 1px dotted #000000;
	width: 50%;
	vertical-align: top;
}

#categorySearch .category-caption {
	background: url(/images/common/material/bullet-triangle_red.gif) no-repeat 10px center;
	padding: 7px 30px;
	display: block;
	text-decoration: underline;
	font-weight: bold;
	font-size: 1.2em;
}

#categorySearch ul {
	list-style: none;
	padding: 0 10px 7px 10px;
}

#categorySearch li {
	display: inline;
	maring-right: 3px;
}

#categorySearch li a {
	text-decoration: underline;
	font-weight: normal;
	font-size: 0.9em;
}

/* #---------------------# */
/* # 特集　              # */
/* #---------------------# */
#featureSearch-caption {
	background: url(/images/common/material/icon-smile.gif) no-repeat left center;
	margin-top: 20px;
}

/* #---------------------# */
/* # ログイン            # */
/* #---------------------# */
#loginBox {
	width: 100%;
}

#loginBox caption {
	color: #eb4012;
	font-weight: bold;
	border-bottom: 1px dotted #000000;
	padding: 0.4em 2px;
	margin-bottom: 0.7em;
}

#loginBox th {
	padding: 2px;
}

#loginBox td {
	padding: 2px;
}

#loginBox td.textBox {
	text-align: center;
}

#loginBox td.guide {
	text-align: right;
}

#loginBox .loginTextBox {
	width: 130px;
	height: 1em;
}

#loginBox #loginTextbutton {
	width: 26px;
	height: 30px;;
	border: 0; margin: 0; padding: 0;
	cursor: pointer;
	background: transparent url(/images/common/material/icon-unlock.gif) no-repeat center center;
}

/* #---------------------# */
/* # ピックアップ        # */
/* #---------------------# */
#pickupItems-header {
	height: 1.7em;
	border-bottom: 1px dotted #000000;
	position: relative;
}

#pickupItems-caption {
	display: block;
	position: absolute;
	top: 2px;
	left: 2px;
	font-weight: bold;
}

#pickupItems-caption a:link { color: #eb4012; }
#pickupItems-caption a:visited { color: #eb4012; }
#pickupItems-caption a:hover { color: #eb4012; }
#pickupItems-caption a:active { color: #eb4012; }

#pickupItems-list {
	list-style: none;
	padding: 5px;
}

#pickupItems-list li {
	display: block;
	background: url(/images/common/material/bullet-triangle_soft.gif) no-repeat left top;
	padding-left: 17px;
}

/* #---------------------# */
/* # 詳細検索            # */
/* #---------------------# */

#detailSearch-caption {
	background: url(/images/common/material/icon-check.gif) no-repeat left center;
}



