@charset "utf-8";

/* ################################## */
/* ## ユーザ情報表示               ## */
/* ################################## */

@import url("../common/reset.css");
@import url("../layout/standard.css");
@import url("../common/component.css");

#guide {
	width: 880px;
	margin: 20px auto 0 auto;
}

#next {
	width: 880px;
	margin: 20px auto 40px auto;
}
