@charset "utf-8";

/* ################################## */
/* ## 案件検索結果                 ## */
/* ################################## */

@import url("/styles/common/reset.css");
@import url("/styles/layout/standard.css");
@import url("/styles/common/component.css");

/* #---------------------# */
/* # 検索条件            # */
/* #---------------------# */

#specialTagSearch {
	border-left: 5px solid #4aa0e0;
	border-right: 5px solid #4aa0e0;
	background-color: #f6fafd;
	padding: 2px 5px;
}

#specialTagSearch-header {
	font-size: 1.7em;
	font-weight: bold;
	padding: 5px 0;
	color: #034a93;
}

#specialTagSearch-detail {
	padding: 15px 10px 0 10px;
}

/* #---------------------# */
/* # 検索条件            # */
/* #---------------------# */
#searchConds {
	width: 890px;
	margin: 10px auto;
}

#searchConds-header {
	text-align: right;
	background-image:url(/images/page/search_items-cond_header.gif);
	background-repeat: repeat-x;
	height: 17px;
	padding-right: 5px;
	line-height: 17px;
}

#searchConds-footer {
	background-image: url(/images/page/search_items-cond_footer.gif);
	background-repeat: repeat-x;
	width: 100%;
	height: 7px;
}

#searchConds-content {
	background-image: url(/images/page/search_items-cond_bg.gif);
	background-repeat: repeat-y;
	padding: 3px 8px;
}

table#searchConds-table {
	border-collapse: collapse;
	border: 2px solid #FFFFFF;
	width: 100%;
}

table#searchConds-table th {
	font-weight: bold;
	border: 1px solid #CCCCCC;
	white-space: nowrap;
	width: 100px;
	padding: 5px;
}

table#searchConds-table td {
	border: 1px solid #CCCCCC;
	padding: 5px;
}


/* #---------------------# */
/* # 結果案内            # */
/* #---------------------# */
#resultGuide {
	margin: 25px 10px 30px 10px;
	padding: 5px;
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
}

#resultGuide .count {
	font-weight: bold;
}


/* #---------------------# */
/* # 結果ソート          # */
/* #---------------------# */
#resultSorter {
	float: right;
	text-align: right;
}

/* #---------------------# */
/* # 検索結果            # */
/* #---------------------# */
.item {
	clear: both;
	border-bottom: 1px solid #92c3f1;
	margin: 0 20px 30px 20px;
	background-color: #FFFFFF;
}

.item-tab {
	list-style: none;
	padding-left: 7px;
	overflow: hidden;
	height: 1.2em;
}

.item-tab li {
	display: block;
	float: left;
	padding: 0 8px;
	margin-left: 5px;
	font-size: 1em;
	height: 1.2em;
	line-height: 1.2em;
}

.item-tab .main-tab {
	background-color: #5272b3;
	color: #FFFFFF;
}

.item-tab .sub-tab {
	background-color: #c6def5;
	color: #1b4b9f;
}

.item-header {
	clear: both;
	display: block;
	border-top: 1px solid #92c3f1;
	padding: 7px 12px;
	zoom: 100%;
	overflow: auto;
	background-image: url(/images/page/search_items-item_header_bg.gif);
	background-position: right center;
	background-repeat: repeat-y;
}

.item-header:link    { color: #034a93; text-decoration: none; }
.item-header:visited { color: #034a93; text-decoration: none; }
.item-header:hover   { color: #034a93; text-decoration: none; background-image: url(/images/page/search_items-item_header_bg_active.gif); }
.item-header:hover .item-name  { color: #d84060; }
.item-header:hover .item-rate  { color: #234c9f; }
.item-header:active  { color: #034a93; text-decoration: none; }

.item-header .item-name {
	display: block;
	float: left;
	width: 75%;
	font-weight: bold;
	color: #234c9f;
	font-size: 1.1em;;
}

.new-item {
	text-indent: 37px;
	background: transparent url(/images/common/material/bullet-new_pink.gif) no-repeat scroll left center;
}

.deadline-item {
	text-indent: 50px;
	background: transparent url(/images/common/material/bullet-deadline_blue.gif) no-repeat scroll left center;
}
.recruiting-item {
	text-indent: 37px;
	background: transparent url(/images/common/material/bullet-recruiting_green.gif) no-repeat scroll left center;
}
.item-header .right-box {
	display: block;
	float: right;
	width: 22%;
	text-align: right;
	color: #ba5555;
	font-size: 1.1em;;
}

.item-content {
	background: transparent url(/images/page/search_items-item_content_bg.gif) repeat-x scroll left top;
	border-top: 1px solid #afd3f5;
	padding: 15px 20px;
	overflow: hidden;
	clear: both;
}

.item-text {
	float: left;
	width: 53%;
}

.item-text-caption {
	padding: 0 5px 3px 23px;
	background: transparent url(/images/common/material/bullet-miniyen.gif) no-repeat scroll left top;
	border-bottom: 1px dashed #acb4ba;
	overflow: auto;
}

.item-text-caption {
	color: #3c3c3c;
	font-weight: bold;
}

.item-text-sentence {
	padding-top: 12px;
	padding-left: 23px;
}

.item-info {
	float: right;
	width: 45%;
}

.item-info-element {
	background-position: left center;
	background-repeat: no-repeat;
	padding: 3px 0 3px 82px;
	color: #234c9f;
}

.item-info .jobTypes { background-image: url(/images/page/search_items-item_jobtype.gif); }
.item-info .sysTypes { background-image: url(/images/page/search_items-item_systype.gif); }
.item-info .skills { background-image: url(/images/page/search_items-item_skill.gif); }


/* #---------------------# */
/* # ページャー          # */
/* #---------------------# */
#searchPager {
	list-style: none;
	margin: 30px 0 10px 0;
	text-align: center;
}

#searchPager a {
	padding: 5px 8px;
	margin: 3px;
	border: 1px solid #CCCCCC;
	zoom: 1;
}

#searchPager span {
	color: #BBBBBB;
	padding: 5px 8px;
	margin: 3px;
	border: 1px solid #CCCCCC;
	zoom: 1;
	background-color: #EEEEEE;
}

#searchPager em {
	color: #666666;
	font-weight: bold;
	margin: 3px;
	border-bottom: 3px double #666666;
	padding: 5px 8px;
	zoom: 1;
}

/* ページャーのアンカー */
#searchPager a:hover   { text-decoration: none; color: #CC6633; }
#searchPager a:link    { text-decoration: none; color: #0066FF; }
#searchPager a:visited { text-decoration: none; color: #0066FF; }
#searchPager a:active  { text-decoration: none; color: #0066FF; }


/* #---------------------# */
/* # 検索結果エラー      # */
/* #---------------------# */
#searchNotice {
	margin: 30px 20px;
}

#searchNotice em {
	background-color: #EDF8F7;
	color: #637D7D;
	font-size: 130%;
	font-weight: bold;
	margin: 10px 0;
	display: block;
}

/* #---------------------# */
/* # 条件変更フォーム    # */
/* #---------------------# */
.searchBox {
	margin: 15px 10px;
}

